    <ngx-loading [show]="loading"></ngx-loading>
    <ngx-loading [show]="disableGrid" id="gridDisableDiv"></ngx-loading>

    <kendo-grid
      [data]="gridView"
      [pageSize]="gridState.take"
      [skip]="gridState.skip"
      [sort]="gridState.sort"
      [sortable]="true"
      [selectable]="true"
      [filter]="gridState.filter"
      filterable="menu"
      (add)="onAddClick($event)"
      (cancel)="cancelHandler($event)"
      (save)="saveHandler($event)"
      (edit)="editHandler($event)"
      (remove)="removeHandler($event)"
    >
    <ng-template kendoGridToolbarTemplate>
      <div class="search-bar-container">
        <span class="nav-item search-packages">
          <span class="fa fa-search bigger-icon"></span>
          <mat-form-field class="search-bar">
            <input matInput placeholder="Search..." aria-label="Search Packages" [(ngModel)]="searchValue" [formControl]="searchCtrl">
            <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
              <mat-icon><i class="fa fa-times-circle"></i></mat-icon>
            </button>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option id="searchDropdown" *ngFor="let package of filteredPackages | async" [value]="package.name">
                <span>{{package.name}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </span>
        <span class="nav-item add-packages">
            <button kendoGridAddCommand iconClass="fal fa-plus-circle" style="background: none; border: none; height: 100%;"></button>
        </span>
      </div>
    </ng-template>
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand class="k-button">Add Package</button>
    </ng-template>

    <kendo-grid-column field="name" title="Name" width="150px"></kendo-grid-column>
    <kendo-grid-column field="totalOfIndividualPrices" title="Total Price" width="125px"></kendo-grid-column>
    <kendo-grid-column field="retailPrice" title="Retail Price" width="125px"></kendo-grid-column>

    <kendo-grid-column field="packageProductsString" title="Product(s)/Service(s)" width="125px"></kendo-grid-column>

    <!-- <kendo-grid-column field="product.name" title="Product" width="125px">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <kendo-dropdownlist
          [data]="productsByPackage[dataItem.packageId]"
          [defaultItem]="productsByPackage[dataItem.packageId][0]"
          textField="name"
          valueField="name">
        </kendo-dropdownlist>
      </ng-template>
    </kendo-grid-column> -->
    <!-- <kendo-grid-column field="service.serviceName" title="Service" width="125px">
      <ng-template kendoGridCellTemplate let-dataItem>
          <kendo-dropdownlist
            [data]="servicesByPackage[dataItem.packageId]"
            [defaultItem]="servicesByPackage[dataItem.packageId][0]"
            textField="serviceName"
            valueField="servieName">
          </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column> -->
    <kendo-grid-command-column title="Actions" min-width="125px" width="125px">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridEditCommand iconClass="fal fa-edit" style="background: none; border: none; height: 100%; font-size: 20px"></button>
        <button kendoGridRemoveCommand iconClass="fal fa-minus-circle" style="background: none; border: none; height: 100%; font-size: 20px"></button>
        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
      </ng-template>
    </kendo-grid-command-column>
    </kendo-grid>

    <app-actionpanel></app-actionpanel>
