.content{
    max-height: 100%;
    padding: 1em;
    width: 100%;
    overflow-y: scroll;
}

:host {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    overflow-y: hidden;
}
:host /deep/ p-schedule .ui-state-highlight {
    background: transparent !important;
}
:host /deep/ p-schedule .active {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.dummy-mat-sidenav {
  // height: 100%;
  width: 24em;
}

.dummy-action-panel {
  // height: 100%;
  width: 100%;
  background-color: white;
  overflow-y:auto !important;
}

#hoverPanel {
  opacity: 0;
  transition: opacity .25s;
  position: absolute;
  margin-right: 1px;
  background: #fff;
  min-width: 280px;
  max-width: 400px;
  text-align: center;
  z-index: 9999;
  ul {
    padding: 0px;
    li {
      border-bottom: 1px solid #eee;
      padding: 5px 30px;
      list-style: none;
    }
  }
}

:host /deep/ p-schedule .fc th.fc-resource-cell {
    cursor: pointer;
}

.fc-header-toolbar {
  position: absolute;
  background-color: red;
}
.content.datepicker-visible {
    display: table;
}
.content.date-picker-visible app-calnav {
    display: table-cell;
    vertical-align: top;
}
:host /deep/ .content.date-picker-visible p-schedule {
    // display: table-cell;
    vertical-align: top;
}
:host /deep/ .content.date-picker-visible app-calnav {
    height: calc(~'100vh - 70px');
}

:host /deep/ p-schedule .fc-slats table {
    height: calc(~'100vh - 138px');
}

mat-sidenav{
    overflow-y: initial;
    position:fixed;
    top:70px;
}

:host /deep/ .full-screen {
    top: 70px!important;
    // left: 59px!important;
}

/* :host .mat-drawer-transition .mat-drawer-content {
    margin-right: 0px !important;
} */

:host /deep/ .fc-axis.fc-time{
    font-weight:600 !important;
}

:host /deep/ .fc-axis.fc-time sub {
    bottom: -0.10em !important;
    font-weight:400 !important;
}

// :host /deep/ .fc-slats tbody tr:nth-child(12n) .fc-axis.fc-time,
// :host /deep/ .fc-slats tbody tr:nth-child(12n - 1) .fc-axis.fc-time,
// :host /deep/ .fc-slats tbody tr:nth-child(12n - 2) .fc-axis.fc-time,
// :host /deep/ .fc-slats tbody tr:nth-child(12n - 3) .fc-axis.fc-time,
// :host /deep/ .fc-slats tbody tr:nth-child(12n - 4) .fc-axis.fc-time,
// :host /deep/ .fc-slats tbody tr:nth-child(12n - 5) .fc-axis.fc-time
// {
// 	background-color: #37434f !important;
// }

:host /deep/ .fc-now-indicator-arrow::after {
    content: "";
    display: block;
    width: 44px;
    height: 2px;
    background-color: #d64412;
}

:host /deep/ .fc-now-indicator-line {
    display:none;
}

:host /deep/ .fc-now-indicator-arrow{
    border:none;
}

:host /deep/ .fc-toolbar{
    display:none !important;
}

:host /deep/ .fc-slats {
    background-color: #eee;
}
::ng-deep .shadowed .fc-slats {
    background-color: #ccc;
}
:host /deep/ .fc-preferredAppoints.fc-bgevent{
    opacity:1 !important;
}
:host /deep/ .fc-InteralAppoints.fc-bgevent{
    opacity:1 !important;
}
:host /deep/ .fc-preferredAppoints.fc-bgevent .color-bar img{
    opacity: 0.3;
    width: 18px !important;
    margin: 5px auto;
    display: block;
}
:host /deep/ .fc-nonbusiness{
    opacity:1 !important;
    z-index:1;
}
.schedule-wrapper {
  display: table-cell;
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 11.25em;
    overflow-y: scroll;
    overflow-x: hidden;
}

app-current-date {
  background-color: #343a40;
}

@media (min-width: 992px) {
  app-current-date {
    display: none;
  }
}

::ng-deep .billing-status-icon svg {
    height: 20px;
}
::ng-deep .billing-status-icon.unconfirmed svg {
    fill: #757F88;
}
::ng-deep .billing-status-icon.confirmed svg {
    fill: #016DBF;
}
::ng-deep .billing-status-icon.no-show svg {
    fill: #DA5140;
}
::ng-deep .billing-status-icon.checked-in svg {
    fill: #BED82A;
}
.status-menu-button {
    border: none;
}

:host /deep/ #hoverPanel .ui-overlaypanel-content { padding: 0px; }
:host /deep/ .ui-overlaypanel { background: #fff;min-width: 280px;  }
:host /deep/ #hoverPanel .ui-overlaypanel-content ul { padding: 0px; }
:host /deep/ #hoverPanel .ui-overlaypanel-content ul li .right-bar { text-align: center; }
:host /deep/ #hoverPanel .ui-overlaypanel-content ul li .right-bar span { padding: 0px 10px; }
:host /deep/ #hoverPanel .ui-overlaypanel-content ul li .right-bar span i { font-size: 26px; }
:host /deep/ #hoverPanel .ui-overlaypanel-content ul li {    background: #fff; border-bottom: 1px solid #eee; padding: 5px 30px; list-style: none; }

:host /deep/ div.right-bar {
  opacity: 0;
  transition: opacity .25s;
}

:host /deep/ .fc-time-grid-event {
  // border: solid 1px #B1C617 !important;
  transition: left 0.25s, right 0.25s;
}

:host /deep/ .event-hover {
  left: 0 !important;
  right: 0 !important;
  z-index: 9999 !important;
  transition-delay: 0.25s;
  div.right-bar {
    transition-delay: 0.5s;
    opacity: 1;
  }
}

:host /deep/ .event-selected {
  border: solid 1px #33353e !important;
}

:host /deep/ .event-no-hover {
  left: 0 !important;
  right: 50% !important;
  z-index: 9999 !important;
  transition-delay: 0.25s;
  div.right-bar {
    transition-delay: 0.5s;
    opacity: 1;
  }
}

/deep/ .ngx-contextmenu a {
  padding: 0;
  div {
    padding: 4px 24px 4px 24px;
  }
}
