<ngx-loading [show]="loading"></ngx-loading>

<mat-sidenav-container class="example-container" hasBackdrop="false">
   <mat-sidenav #actionPanel class="dummy-mat-sidenav" mode="side" position="end" [(opened)]="actionPanelOpened">
       <div class="dummy-action-panel"></div>
   </mat-sidenav>
  <mat-sidenav-content>
    <div class="content" [ngClass]="{'date-picker-visible': datePickerVisible}" *ngIf="visible">
      <app-calnav *ngIf="displayCalendar()" [company]="currentDataService.company" [ngClass]="{'hidden': !datePickerVisible}"></app-calnav>

      <div class="schedule-wrapper" *ngIf="configLoaded">
        <app-current-date></app-current-date>

        <p-schedule id="thecalendar" height="auto" [options]="optionsConfig" [events]="currentDataService.appointments" editable="true"
            #visitsSchedule name="visitsSchedule" (onEventDrop)="onEventDrop($event)" [eventRender]="eventRender"
            (onEventClick)="eventClick($event)" (onEventMouseover)="eventHover($event, hoverPanel)"
            (onEventMouseout)="eventMouseout($event)" (contextmenu)="onRightClick($event, visitsSchedule)"
            (onViewRender)="scheduleRender($event)"
            [ngClass]="{'shadowed': actionPanelOpened}">
        </p-schedule>
      </div>
      <context-menu #myContextMenu (close)="processContextMenuCloseEvent()">
        <ng-template contextMenuItem>
          <div (click)="cancelAppointment(currentAppointment)" (mouseenter)="processContextMenuMouseEnterEvent()" (mouseout)="processContextMenuMouseOutEvent()">
            Cancel Appointment
          </div>
        </ng-template>
        <ng-template contextMenuItem>
          <div (click)="cancelVisit()" (mouseenter)="processContextMenuMouseEnterEvent()" (mouseout)="processContextMenuMouseOutEvent()">
            Cancel All Appointments
          </div>
        </ng-template>
        <ng-template contextMenuItem>
          <div (click)="noShowAppointment()" (mouseenter)="processContextMenuMouseEnterEvent()" (mouseout)="processContextMenuMouseOutEvent()">
            No Show
          </div>

        </ng-template>
        <ng-template contextMenuItem>
          <div (click)="noShowAppointment()" (mouseenter)="processContextMenuMouseEnterEvent()" (mouseout)="processContextMenuMouseOutEvent()">
            Move
          </div>

        </ng-template>
        <ng-template contextMenuItem>
          <div (click)="appointmentNudge()" (mouseenter)="processContextMenuMouseEnterEvent()" (mouseout)="processContextMenuMouseOutEvent()">
            Nudge
          </div>

        </ng-template>
        <ng-template contextMenuItem>
          <div (click)="appointmentNotification()" (mouseenter)="processContextMenuMouseEnterEvent()" (mouseout)="processContextMenuMouseOutEvent()">
            SMS/Email
          </div>

        </ng-template>
        <ng-template contextMenuItem>
          <div (click)="appointmentPrintLable()" (mouseenter)="processContextMenuMouseEnterEvent()" (mouseout)="processContextMenuMouseOutEvent()">
            Print Label
          </div>
        </ng-template>
        <!-- <ng-template contextMenuItem divider="true"></ng-template>
        <ng-template contextMenuItem passive="true">
            Quick Notes: <input type="text">
        </ng-template> -->
      </context-menu>

      <context-menu #visitStatusMenu>
        <ng-template contextMenuItem>
          <div class="status-menu-button" (click)="notConfirmedClicked()">
            <span class="billing-status-icon unconfirmed" inlineSVG="../../../assets/svg/calendar-minus.svg" aria-hidden="true"></span>
            &nbsp;Not Confirmed
          </div>
        </ng-template>
        <ng-template contextMenuItem>
          <div class="status-menu-button" (click)="confirmedClicked()">
            <span class="billing-status-icon confirmed" inlineSVG="../../../assets/svg/calendar-check.svg" aria-hidden="true"></span>
            &nbsp;Confirmed
          </div>
        </ng-template>
        <ng-template contextMenuItem>
          <div class="status-menu-button" (click)="checkInClicked()">
            <span class="billing-status-icon checked-in" inlineSVG="../../../assets/svg/calendar-check.svg" aria-hidden="true"></span>
            &nbsp;Check In
          </div>
        </ng-template>
        <ng-template contextMenuItem>
          <div class="status-menu-button" (click)="noShowClicked()">
            <span class="billing-status-icon no-show" inlineSVG="../../../assets/svg/calendar-exclamation.svg" aria-hidden="true"></span>
            &nbsp;No Show
          </div>
        </ng-template>
      </context-menu>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div #hoverPanel id="hoverPanel">
  <div class="hover-box" *ngIf="hoveredEvent">
    <ul>
      <li><i class="fas fa-map-marker-alt"></i>&nbsp;{{hoveredEvent.visit.patient.address.city}}, {{hoveredEvent.visit.patient.address.province}}</li>
      <li><i class="fas fa-mobile-alt"></i>&nbsp;{{hoveredEvent.visit.patient.mobileNumber}}</li>
      <li>Created By:&nbsp;{{hoveredEvent.visit.createdBy}}</li>
      <li>Visit Notes: {{hoveredEvent.visit.visitNotes}}</li>
      <li>Patient Name:&nbsp;{{hoveredEvent.visit.patient.lastName}},&nbsp;{{hoveredEvent.visit.patient.firstName}}</li>
      <li>Service Name:&nbsp;{{hoveredEvent.service.serviceName}}</li>
      <li>Patient Notes/Alerts:&nbsp;{{hoveredEvent.visit.patient.notesAndAlerts}}</li>
      <li>
        <div class="right-bar">
          <span *ngIf="!rendering && !hoveredEvent.visit.confirmed && !hoveredEvent.visit.noShow"><i [ngStyle]="{'color':'#757F88'}" class="fas fa-calendar-minus"></i></span>
          <span *ngIf="!rendering && hoveredEvent.visit.confirmed && !hoveredEvent.visit.checkedIn && !hoveredEvent.visit.noShow"><i [ngStyle]="{'color':'#016DBF'}" class="fas fa-calendar-check"></i></span>
          <span *ngIf="!rendering && hoveredEvent.visit.confirmed && hoveredEvent.visit.checkedIn && !hoveredEvent.visit.noShow"><i [ngStyle]="{'color':'#BED82A'}" class="fas fa-calendar-check"></i></span>
          <span *ngIf="!rendering && hoveredEvent.visit.noShow"><i [ngStyle]="{'color':'#DA5140'}" class="fas fa-calendar-exclamation"></i></span>
        </div>
      </li>
    </ul>
  </div>
</div> -->

<app-actionpanel></app-actionpanel>
