<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="company" routerLinkActive #comp="routerLinkActive" [active]="comp.isActive">Company</a>
  <a mat-tab-link routerLink="clinics" routerLinkActive #clnc="routerLinkActive" [active]="clnc.isActive">Clinic</a>
  <a mat-tab-link routerLink="users" routerLinkActive #user="routerLinkActive" [active]="user.isActive">Users</a>
  <a mat-tab-link routerLink="resources" routerLinkActive #rsrc="routerLinkActive" [active]="rsrc.isActive">Resources</a>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>