button.mat-raised-button {
  background-color: #DF4931;
  color: white;
}

button.mat-button {
  width: 140px;
  border: 1px solid #DF4931;
  margin-left: 5px;
}

.schedule-upload-column {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
}
.schedule-upload-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.schedule-upload-item-column {
  display: flex;
  flex-direction: column;
}
.schedule-upload-item {
  display: flex;
  width: 100%;
  justify-content: center;
}
.schedule-upload-item-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Montserrat, sans-serif';
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}
