
<div class="schedule-upload-column">
  <div class="schedule-upload-row">
    <div class="schedule-upload-item-column">
      <div class="schedule-upload-item-title">This Week - Front of House</div>
      <div class="schedule-upload-item">
        <button mat-raised-button (click)="openInput()">
          Select File to Upload
        </button>
        <input id="fileInput" hidden type="file" (change)="fileChange($event.target.files)" >
        <button mat-button [disabled]="!ourFile" (click)="upload()">Upload</button>
      </div>
    </div>
    <div class="schedule-upload-item-column">
      <div class="schedule-upload-item-title">This Week - Back of House</div>
      <div class="schedule-upload-item">
        <button mat-raised-button (click)="openInput()">
          Select File to Upload
        </button>
        <input id="fileInput" hidden type="file" (change)="fileChange($event.target.files)" >
        <button mat-button [disabled]="!ourFile" (click)="upload()">Upload</button>
      </div>
    </div>
  </div>
  <div class="schedule-upload-row">
      <div class="schedule-upload-item-column">
        <div class="schedule-upload-item-title">Last Week - Front of House</div>
        <div class="schedule-upload-item">
          <button mat-raised-button (click)="openInput()">
            Select File to Upload
          </button>
          <input id="fileInput" hidden type="file" (change)="fileChange($event.target.files)" >
          <button mat-button [disabled]="!ourFile" (click)="upload()">Upload</button>
        </div>
      </div>
      <div class="schedule-upload-item-column">
        <div class="schedule-upload-item-title">Last Week - Back of House</div>
        <div class="schedule-upload-item">
          <button mat-raised-button (click)="openInput()">
            Select File to Upload
          </button>
          <input id="fileInput" hidden type="file" (change)="fileChange($event.target.files)" >
          <button mat-button [disabled]="!ourFile" (click)="upload()">Upload</button>
        </div>
      </div>
    </div>
  </div>
