<mat-expansion-panel id="editspecial" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{addOrEdit}} Resource
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="panel-flex-row">
      <mat-form-field class="panel-flex-row-item">
        <input matInput placeholder="Resource Name" class="capitalized" aria-label="Resource Name" (change)="formatterService.textCapitalize(name)" [(ngModel)]="editedResource.name" [formControl]="name">
      </mat-form-field>
      <mat-form-field class="panel-flex-row-item">
        <mat-select placeholder="Resource Type" [(ngModel)]="editedResource.resourceType" name="resourceType">
          <mat-option *ngFor="let resource of resourceTypes" [value]="resource">
            {{ resource }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header [style.display]="'none'">
    </mat-expansion-panel-header>
    <div class="panel-flex-row">
      <div>
        <button mat-button class="btn half" (click)="updateResource()">{{addOrEdit == 'Add' ? 'Add' : 'Update'}} Resource</button>
        <button mat-button class="btn half" (click)="cancelUpdate()">Cancel</button>
      </div>
    </div>
  </mat-expansion-panel>