.component-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  // background-color: #212429;
  background-image: url("../../assets/images/header_bgy.jpg");
}
input, textarea, [contenteditable] {
  caret-color: #33353e !important;
}
.example-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  .login-container {
    width: 100%;
    min-height: 22em;
    max-height: 22em;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #d64412;
    color: #faf8f2;
    padding: 3.5em 2.5em 2.5em 2.5em;
    border-radius: 1em;
  }

  mat-card-content {
    margin-top: 5em;
  }

  mat-card-actions {
    padding: 0 !important;
  }

  .mat-card-subtitle, .mat-hint{
    color: #faf8f2;
    font-size: 14px;
  }

  .mat-card-subtitle {
    //position: absolute;
    // top: 100px;
    // left: 40%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  /* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #485B6A inset;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #6D808E !important;
}

  .mat-card-lg-image {
    height: unset;
    width: 350px;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .mat-form-field {
    color: #33353e;
  }
  ::ng-deep .component-wrapper .mat-form-field-label {
    color: #33353e;
    font-size: 16px !important;
    margin-bottom: 0 !important;
    top: 1.7em;
  }
  ::ng-deep .component-wrapper .mat-focused .mat-form-field-label {
    color: #33353e;
  }
  ::ng-deep .component-wrapper .mat-form-field-label-wrapper {
    top: -1.4em;
  }
  ::ng-deep .component-wrapper .mat-input-element {
    font-size: 18px !important;

    @media (max-width: 768px) {
      font-size: 14px !important;
    }
  }
  ::ng-deep .component-wrapper .mat-form-field-underline {
    background-color: #33353e;
  }
  ::ng-deep .component-wrapper .mat-form-field-ripple {
    background-color: #33353e;
  }
  .password {
    margin-top: 3em;
  }

  button {
    display: block;
    margin: 0 auto !important;
    margin-top: 3em !important;
    border: none;
    background-color: #33353e;
    color: white;
    text-transform: uppercase;
    padding: 0.15em 3.5em;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2em;
  }

  .errorBox {
    padding-top: 5px;
    color:#33353e;
  }

  mat-error {
    font-size: 14px;
    color:#33353e;
  }
