<ngx-loading [show]="loading"></ngx-loading>
<ngx-loading [show]="disableGrid" id="gridDisableDiv"></ngx-loading>

<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Services
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <kendo-grid
    [data]="gridView"
    [pageSize]="gridState.take"
    [skip]="gridState.skip"
    [sort]="gridState.sort"
    [sortable]="true"
    [selectable]="true"
    [filter]="gridState.filter"
    filterable="menu"
    (add)="onAddClick($event)"
    (edit)="editHandler($event)"
    (remove)="removeHandler($event)"
    [class]="'color-picker-test'"
  >
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand class="k-button">Add Service</button>
  </ng-template>
  <kendo-grid-column field="templateIcon" title="" min-width="25px" max-width="25px" width="25px" [class]="'icon-column'">
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
      <span [class]=dataItem.templateIcon [style.font-size.px]="32" [style.color]="'whitesmoke'"
            [style.backgroundColor]="dataItem.serviceIDColour ? dataItem.serviceIDColour : 'transparent'"
            [style.min-width.px]=52 [style.paddingTop.px]=0 [style.paddingRight.px]=45 [style.border-radius.px]=10>
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="serviceName" title="Service Name" width="150px"></kendo-grid-column>
  <kendo-grid-column field="defaultDurationMinutes" title="Default Shift Duration" width="85px"></kendo-grid-column>
  <kendo-grid-command-column title="Actions" min-width="50px" max-width="50px" width="50px">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridEditCommand iconClass="fal fa-edit" style="background: none; border: none; height: 100%; font-size: 20px"></button>
      <button kendoGridRemoveCommand iconClass="fal fa-minus-circle" style="background: none; border: none; height: 100%; font-size: 20px"></button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
      <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
    </ng-template>
  </kendo-grid-command-column>
  </kendo-grid>
</mat-expansion-panel>

<app-actionpanel></app-actionpanel>
