<mat-expansion-panel id="editproduct" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{addOrEdit}} Product
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Product Name" class="capitalized" aria-label="Product Name" (change)="formatterService.textCapitalize(name)"
        [(ngModel)]="product.name" [formControl]="name">
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Product Code" aria-label="Diagnostic Code" [(ngModel)]="product.productCode"
        [formControl]="productCode">
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <mat-select placeholder="Product Category" [(ngModel)]="product.productCategoryId" name="productCategories">
        <mat-option *ngFor="let category of categories" [value]="category.productCategoryId">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Quantity In-Stock" aria-label="Quantity In-Stock" [(ngModel)]="product.quantityInStock"
        [formControl]="quantityInStock">
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Retail Price" aria-label="Retail Price" [(ngModel)]="product.retailPrice"
        [formControl]="retailPrice">
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Wholesale Price" aria-label="Wholesale Price" [(ngModel)]="product.wholesalePrice"
        [formControl]="wholesalePrice">
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Minimum Quantity" aria-label="Quantity" [(ngModel)]="product.quantity" [formControl]="quantity">
    </mat-form-field>
    <mat-form-field id="productUsageDurationFormFieldWrapper" class="panel-flex-row-item">
      <mat-select id="productUsageDurationDayFormField" #usageDurationDaySelect placeholder="Usage Duration (Days)" [(ngModel)]="product.usageDuration"
        name="usageDurationDay" [formControl]="usageDurationDay">
        <mat-option *ngFor="let number of usageDurationDays" [value]="number">
          {{ number }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <kendo-multiselect class="panel-flex-row-item kendo-multiselect" placeholder="Taxes" aria-label="Taxes" [data]="taxes"
      [valuePrimitive]="false" [(ngModel)]="selectedTaxes" textField="name" valueField="value"></kendo-multiselect>
  </div>
  <div class="clearfix"></div>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header [style.display]="'none'">
  </mat-expansion-panel-header>
  <div class="panel-flex-row">
    <div>
      <button mat-button class="btn half" (click)="updateProduct()">{{addOrEdit == 'Add' ? 'Add' : 'Update'}} Product</button>
      <button mat-button class="btn half" (click)="cancelUpdate()">Cancel</button>
    </div>
  </div>
</mat-expansion-panel>
