
<div class="sidenav">
  <!-- <div class="profile">
    <div class="img-container">
        <img class="img-avatar" src={{loggedInUserAvatar}} alt="">
    </div>
    <div class="info">
      <h4>{{loggedInUserName}}</h4>
      <h5><a class="logout-link" (click)="logout()">Log Out</a></h5>
    </div>
  </div> -->
  <div class="navbar">
    <ul class="nav flex-column">
      <li class="nav-item no-parent" routerLinkActive="active">
          <a class="nav-link" routerLink="/home"><span >Home</span></a>
      </li>
      <li class="nav-item no-parent" routerLinkActive="active">
        <a class="nav-link" routerLink="/schedule"><span>Schedule</span></a>
      </li>
      <!-- <li class="nav-item no-parent" routerLinkActive="active">
        <a class="nav-link" routerLink="/gallery"><i class="fas fa-images"></i><span>Gallery</span></a>
      </li> -->
      <li *ngIf="loggedInUserRole === 'admin'" class="nav-item">
        <a class="nav-link" (clickOutside)="closeSubMenu()" (click)="organizationClick()"><span>Management</span></a>
      </li>
      <!-- <div class="sub-menu-panel" [ngClass]="{ 'inactive': !adminOpen }">
        <li class="sub-menu-item" [ngClass]="{ 'inactive': !adminOpen }" routerLinkActive="active"><p class="top-item">&#9664;</p><a (click)="addressBookClick()">Address Book</a></li>
        <li class="sub-menu-item" [ngClass]="{ 'inactive': !adminOpen }" routerLinkActive="active"><a (click)="catalogueClick()">Catalogue</a></li>
        <li class="sub-menu-item" [ngClass]="{ 'inactive': !adminOpen }" routerLinkActive="active"><a (click)="communicationsClick()">Communications</a></li>
        <li class="sub-menu-item" [ngClass]="{ 'inactive': !adminOpen }" routerLinkActive="active"><a (click)="billingClick()">Billing</a></li>
        <li class="sub-menu-item" [ngClass]="{ 'inactive': !adminOpen }" routerLinkActive="active"><a (click)="organizationClick()">Organization</a></li>
      </div> -->
    </ul>
    <hr/>
    <!-- <app-quick-links></app-quick-links> -->
  </div>
</div>
