
<div class="sidenav">
  <div class="navbar">
    <ul class="nav flex-column">
      <li class="nav-item no-parent" routerLinkActive="active">
          <a class="nav-link" routerLink="/home"><span >Home</span></a>
      </li>
      <li class="nav-item no-parent" routerLinkActive="active">
        <a class="nav-link" routerLink="/resources"><span>Resources</span></a>
      </li>
      <li class="nav-item no-parent" routerLinkActive="active">
        <a class="nav-link" routerLink="/schedule"><span>Schedule</span></a>
      </li>
      <li *ngIf="loggedInUserRole === 'leader'" class="nav-item">
        <a class="nav-link" (clickOutside)="closeSubMenu()" (click)="organizationClick()"><span>Management</span></a>
      </li>
    </ul>
    <hr/>
  </div>
</div>
