
<div class="resource-upload-column">
  <div class="resource-upload-row">
    <div class="resource-upload-item-column">
      <div class="resource-upload-item-title">Front of House</div>
      <div class="panel-flex-column">
        <mat-form-field class="panel-flex-row-item">
          <input autocomplete="off" matInput placeholder="Title"
            [(ngModel)]="resourceFrontTitle" [formControl]="frontTitle">
        </mat-form-field>
        <mat-form-field class="panel-flex-row-item">
          <textarea autocomplete="off" matInput placeholder="Description"
            [(ngModel)]="resourceFrontDescription" [formControl]="frontDescription"></textarea>
        </mat-form-field>
      </div>
      <div class="resource-upload-item">
        <button mat-raised-button (click)="openResourceFrontInput()">
          Select File to Upload
        </button>
        <input id="resourceFrontFileInput" hidden type="file" accept=".pdf" (change)="resourceFrontFileChange($event.target.files)" >
        <button mat-button [disabled]="!resourceFrontFile" (click)="uploadResourceFront()">Upload</button>
      </div>
      <div class="resource-upload-item-title" *ngIf="resourceFrontFile">{{resourceFrontFile.name}}</div>
      <div class="resource-upload-item-title" *ngIf="resourceFrontUploaded">Uploaded</div>
    </div>
    <div class="resource-upload-item-column">
      <div class="resource-upload-item-title">Back of House</div>
      <div class="panel-flex-column">
        <mat-form-field class="panel-flex-row-item">
          <input autocomplete="off" matInput placeholder="Title"
            [(ngModel)]="resourceBackTitle" [formControl]="backTitle">
        </mat-form-field>
        <mat-form-field class="panel-flex-row-item">
          <textarea autocomplete="off" matInput placeholder="Description"
            [(ngModel)]="resourceBackDescription" [formControl]="backDescription"></textarea>
        </mat-form-field>
      </div>
      <div class="resource-upload-item">
        <button mat-raised-button (click)="openResourceBackInput()">
          Select File to Upload
        </button>
        <input id="resourceBackFileInput" hidden type="file" accept=".pdf" (change)="resourceBackFileChange($event.target.files)" >
        <button mat-button [disabled]="!resourceBackFile" (click)="uploadResourceBack()">Upload</button>
      </div>
      <div class="resource-upload-item-title" *ngIf="resourceBackFile">{{resourceBackFile.name}}</div>
      <div class="resource-upload-item-title" *ngIf="resourceBackUploaded">Uploaded</div>
    </div>
  </div>
</div>
