<mat-expansion-panel id="editspecial" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{addOrEdit}} Special
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Special Name" class="capitalized" aria-label="Special Name" (change)="formatterService.textCapitalize(name)"
        [(ngModel)]="special.name" [formControl]="name">
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Diagnostic Code" aria-label="Diagnostic Code" [(ngModel)]="special.code"
        [formControl]="code">
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Total of Prices" aria-label="Total of Prices" [(ngModel)]="special.totalOfIndividualPrices"
        [formControl]="totalOfIndividualPrices">
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Retail Price" aria-label="Retail Price" [(ngModel)]="special.retailPrice"
        [formControl]="retailPrice">
    </mat-form-field>
    <kendo-multiselect class="panel-flex-row-item kendo-multiselect" placeholder="Taxes" aria-label="Taxes" [data]="taxes"
      [valuePrimitive]="false" [(ngModel)]="selectedTaxes" textField="name" valueField="value" (valueChange)="updateTotalOfPrices()">
    </kendo-multiselect>
  </div>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Products
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div id="productSelections">
    <table class="detail-table" id="productList">
      <tr *ngFor="let product of selectedProducts">
        <td>
          <div class="bullet" (click)="removeProductFromSpecial(product)" [inlineSVG]="'../../../assets/svg/negative-sign-inside-circle.svg'"></div>
        </td>
        <td>{{product.product.name}}</td>
        <td><span>${{product.product.retailPrice}}</span></td>
        <td><span class='quantity-box'>
          <input class="no-spin" type="number" [(ngModel)]="product.product.quantity" (change)="updateSpecialProductQuantity(product)"></span></td>
    </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-4">
      <button id="addProductsButton" mat-button (click)="addProductToSpecial()">+ Add Product</button>
    </div>
    <div class="selecter col-8">
      <div class="search-icon-container">
        <div class="bullet" [inlineSVG]="'../../../assets/svg/search.svg'"></div>
      </div>
      <div class="form-field-container">
        <mat-form-field>
          <input id="productsInput" type="text" matInput [formControl]="selectedProduct" placeholder="Search for a product"
            [matAutocomplete]="products" />
        </mat-form-field>
      </div>

      <mat-autocomplete #products="matAutocomplete" [displayWith]="productDisplayFn">
        <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
          {{ product.name }}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header [style.display]="'none'">
  </mat-expansion-panel-header>
  <div class="panel-flex-row">
    <div>
      <button mat-button class="btn half" (click)="updateSpecial()">{{addOrEdit == 'Add' ? 'Add' : 'Update'}} Special</button>
      <button mat-button class="btn half" (click)="cancelUpdate()">Cancel</button>
    </div>
  </div>
</mat-expansion-panel>
