<mat-expansion-panel id="editservice" [expanded]="true" style="z-index: 2;">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{addOrEdit}} Service
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Service Name" class="capitalized" aria-label="Service Name" (change)="formatterService.textCapitalize(serviceName)"
        [(ngModel)]="service.serviceName" [formControl]="serviceName">
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Service Duration" aria-label="Shift Duration" [(ngModel)]="service.defaultDurationMinutes"
        [formControl]="serviceDuration">
    </mat-form-field>
  </div>
  <div class="clearfix"></div>
  <div class="panel-flex-row">
    <mat-form-field id="serviceColourPickerFormField" class="panel-flex-row-item">
      <input matInput id="serviceColourInput" placeholder="Service Colour" [disabled]=true aria-label="Service Colour">
      <p-colorPicker id="serviceColourPicker" [(ngModel)]="service.serviceIDColour" [formControl]="serviceIDColour">
      </p-colorPicker>
    </mat-form-field>
  </div>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header [style.display]="'none'">
  </mat-expansion-panel-header>
  <div class="panel-flex-row">
    <div>
      <button mat-button class="btn half" (click)="updateService()">{{addOrEdit == 'Add' ? 'Add' : 'Update'}} Service</button>
      <button mat-button class="btn half" (click)="cancelUpdate()">Cancel</button>
    </div>
  </div>
</mat-expansion-panel>
