<div class="re-links-container">
  <div class="re-links">
    <a (click)="closePanel()" class="close-panel"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
  </div>
</div>
<div class="content">
  <div class="header">
    <div class="appointment_heading">{{ isAnUpdate ? 'Edit' : 'Create' }} Shift</div>
  </div>

  <div class="row no-gutter">
    <div class="col-12 patient-select">
      <label for="patientsAutoComplete">Select a Staff Member</label>
      <kendo-autocomplete name="patientsAutoComplete" #patientsAutoComplete [data]="patients" [value]="staffFullName"
        [placeholder]="'Enter a name..'" class="full" (valueChange)="patientValueChange($event)" [filterable]="true"
        (filterChange)="handleFilter($event)" (focus)="onPatientAutoCompleteFocus()">
        <ng-template kendoDropDownListItemTemplate let-dataItem>
          <div (click)="patientSelect(dataItem)" class="patients-list">
            <div class="patient row no-gutter">
              <div class="col-6">
                <div class="patient-matched-name" [innerHTML]="formatValue(dataItem.firstName, patientsAutoComplete)"></div>
                &nbsp;<div class="patient-matched-name" [innerHTML]="formatValue(dataItem.lastName, patientsAutoComplete)"></div>
              </div>
            </div>
          </div>
        </ng-template>
      </kendo-autocomplete>
    </div>
  </div>

  <hr>

  <div class="visit-form row no-gutter">
    <div class="col-12">
      <mat-form-field class="full service" [floatLabel]="'always'">
        <mat-select placeholder="Select Service" [(ngModel)]="selectedService.serviceId" name="services" (selectionChange)="serviceSelectionChange()">
          <mat-option *ngFor="let service of allServices" [value]="service.serviceId">
            {{ service.serviceName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
      <div class="full">
        <label for="startTime">Start Time</label>
        <kendo-timepicker name="startTime" [steps]="{ minute: minimumDuration }" [min]="minTime" [max]="maxTime"
          [(value)]="startTime" [readonly]="startTimeIsReadonly"></kendo-timepicker>
      </div>
    </div>
    <div class="col-6">
      <div class="full">
        <label for="endTime">End Time</label>
        <kendo-timepicker name="endTime" [steps]="{ minute: minimumDuration }" [min]="minTime" [max]="maxTime"
          [(value)]="endTime" [readonly]="endTimeIsReadonly"></kendo-timepicker>
      </div>
    </div>
    <div class="col-12">
      <button class="add-btn"
      (click)="addAppointment()"
      [ngClass]="{'add-disabled' : !createOk()}">
        <span class="icon" inlineSVG="../../../assets/svg/plus.svg"></span>
        {{ isAnUpdate ? 'Update' : 'Add' }} Shift
      </button>
    </div>
  </div>
</div>
