<h5 [ngClass]="{ 'inactive': !sideNavExpanded }">Quick Links</h5>
<ul>
  <li #thermo><i class="fa fa-plus-square" aria-hidden="true"></i><span [ngClass]="{ 'inactive': !sideNavExpanded }">Add Pharmacy</span></li>
  <li><i class="fa fa-inbox" aria-hidden="true"></i><span [ngClass]="{ 'inactive': !sideNavExpanded }">My Messages</span></li>
  <li><i class="fa fa-book" aria-hidden="true"></i><span [ngClass]="{ 'inactive': !sideNavExpanded }">Reports</span></li>
  <li (click)="addPatient()"><i class="fa fa-user-plus" aria-hidden="true"></i><span [ngClass]="{ 'inactive': !sideNavExpanded }">Add Patients</span></li>
</ul>
