<mat-expansion-panel id="editclinic" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{addOrEdit}} Clinic
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="panel-flex-row">
      <mat-form-field class="panel-flex-row-item">
        <input matInput placeholder="Clinic Name" class="capitalized" aria-label="Clinic Name" (change)="formatterService.textCapitalize(name)" [(ngModel)]="editedClinic.name" [formControl]="name">
      </mat-form-field>
    </div>
    <div class="panel-flex-row">
      <mat-form-field class="panel-flex-row-item">
        <input matInput placeholder="Address 1" class="capitalized" aria-label="Address1" (change)="formatterService.textCapitalize(addressAddress1)" [(ngModel)]="editedClinic.address.address1" [formControl]="addressAddress1">
      </mat-form-field>
      <mat-form-field class="panel-flex-row-item">
        <input matInput placeholder="Address 2" class="capitalized" aria-label="Address2" (change)="formatterService.textCapitalize(addressAddress2)" [(ngModel)]="editedClinic.address.address2" [formControl]="addressAddress2">
      </mat-form-field>
    </div>
    <div class="panel-flex-row">
      <mat-form-field class="panel-flex-row-item">
        <input matInput placeholder="City" class="capitalized" aria-label="City" (change)="formatterService.textCapitalize(addressCity)" [(ngModel)]="editedClinic.address.city" [formControl]="addressCity">
      </mat-form-field>
      <mat-form-field class="panel-flex-row-item">
        <mat-select [(ngModel)]="editedClinic.address.province" name="usStates">
          <mat-option *ngFor="let provinceState of provincesAndStates" [value]="provinceState">
            {{ provinceState }}
          </mat-option>
        </mat-select>
        <mat-placeholder class="placeholder">{{editedClinic.address.country == 'United States' ? 'State' : 'Province'}}</mat-placeholder>
      </mat-form-field>
    </div>
    <div class="panel-flex-row">
      <mat-form-field class="panel-flex-row-item">
        <mat-select placeholder="Country" [(ngModel)]="editedClinic.address.country" name="usStates" (change)="onChangeCountry()">
          <mat-option *ngFor="let country of countriesOfTheWorld" [value]="country">
            {{ country }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="panel-flex-row-item">
        <input matInput aria-label="Postal Code" class="uppercased" [(ngModel)]="editedClinic.address.postalCode" (change)="formatterService.textUppercase(addressPostalCode);updateSubmitButtonState()" [formControl]="addressPostalCode">
        <mat-placeholder class="placeholder">{{editedClinic.address.country == 'United States' ? 'Zip Code' : 'Postal Code'}}</mat-placeholder>
        <mat-error *ngIf="addressPostalCode.invalid">{{editedClinic.address.country == 'United States' ? 'Not a Valid Zip Code' : 'Not a Valid Postal Code'}}</mat-error>
      </mat-form-field>
    </div>
    <div class="panel-flex-row">
      <mat-form-field class="panel-flex-row-item">
        <mat-select placeholder="Rooms" name="rooms" [(ngModel)]="roomsSelectedStatus"
        (change)="updateClinicRooms($event)" multiple>
          <mat-option *ngFor="let room of allRooms" [value]="room.roomId">
            {{ room.roomName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="panel-flex-row-item">
        <mat-select placeholder="Taxes" name="taxes" [(ngModel)]="taxesSelectedStatus"
        (change)="updateClinicTaxes($event)" multiple>
          <mat-option *ngFor="let tax of allTaxes" [value]="tax.taxId">
            {{ tax.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header [style.display]="'none'">
    </mat-expansion-panel-header>
    <div class="panel-flex-row">
      <div>
        <button mat-button class="btn half" (click)="updateClinic()" [disabled]="submitButtonDisabledState">{{addOrEdit == 'Add' ? 'Add' : 'Update'}} Clinic</button>
        <button mat-button class="btn half" (click)="cancelUpdate()">Cancel</button>
      </div>
    </div>
  </mat-expansion-panel>
