<!-- All the Content -->
<div class="main-content-column">
  <div class="main-title-column">
    <div class="edit-control">
      <div class="add-home-content-button" [ngClass]="{'invisible': !editing}" (click)="addHomeContent()">
        Add Content
      </div>
      <mat-slide-toggle [ngClass]="{'invisible': loggedInUserRole !== 'leader'}"
        class="edit-control-toggle"
        [(ngModel)]="editing">
        Edit
      </mat-slide-toggle>
    </div>
    <div class="main-title">
      This is My Salty's
    </div>
  </div>
  <div class="content-row">
    <div class="content-wrapper" *ngFor="let contentItem of homeContent" (click)="onContentClick(contentItem.homeContentId)">
      <div class="content-item-title" [ngClass]="{'disabled': editing}">
          {{contentItem.title}}
      </div>
      <div class="content-item-body" [ngClass]="{'disabled': editing}">
          {{contentItem.description}}
      </div>
      <div class="content-edit-controls-row" *ngIf="editing">
        <span class="content-edit-controls" (click)="editHomeContent(contentItem)"><i class="fa fa-pencil"></i></span>
        <span class="content-edit-controls"><i class="fa fa-close" (click)="removeHomeContent(contentItem)"></i></span>
      </div>
    </div>
  </div>
</div>

<p-overlayPanel #hoverPanel id="hoverPanel" [dismissable]="'false'">
  Content
</p-overlayPanel>
<app-actionpanel></app-actionpanel>
