<!-- All the Content -->
<div class="main-content-column">
  <div class="main-title">
    This is My Salty's
  </div>
  <div class="content-row">
    <div class="content-wrapper" *ngFor="let contentItem of homeContent" (click)="onContentClick(contentItem.homeContentId)">
      <div class="content-item-title">
          {{contentItem.title}}
      </div>
      <div class="content-item-body">
          {{contentItem.description}}
      </div>
    </div>
  </div>
</div>

<p-overlayPanel #hoverPanel id="hoverPanel" [dismissable]="'false'">
  Content
</p-overlayPanel>
<app-actionpanel></app-actionpanel>
