.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 70px !important;
    font-family: 'Lato', sans-serif;
    // border-bottom: 2px solid #33353e;
    padding-right: 0;
    padding-left: 0;
}

.navbar .navbar-brand {
  background-color: #DF4931;
  color: #33353e;
  padding: 0em;
  font-size: 28px;
  margin-right: 0;
}

.navbar-brand .logo {
    padding-top: 0px;
    width: 165px;
    height: 68px;
}

:host /deep/ .logo img {
    width: auto;
    height: 100%;
    max-height: 68px;
}

.navbar-nav {
    height: 68px;
    padding-right: 15px;
    padding-left: 15px;
}

.nav-title {
  height: 100%;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 18px;
}

.top-nav-button {
    &:hover {
        cursor: pointer;
    }
}

.top-nav-button-disabled {
    &:hover {
        cursor: not-allowed;
    }
}

.logout-link {
  &:hover {
    cursor: pointer;
  }
}

.nav-link span {
    font-size: 30px;
    color:white;
}

.search-patients .fa {
    font-size:30px;
    color:white;
    margin-left: 0.7em;
    margin-top: 0.63em;
}

:host /deep/ mat-form-field {
    margin-left: 1em;
    top: -0.4em;
    width: 16em;
}

:host /deep/ .mat-input-element {
    color:#33353e;
}

:host /deep/ .mat-form-field-label {
    color:#33353e;
    font-family: 'Lato', sans-serif;
}

:host /deep/ .mat-form-field-underline {
    background-color: #33353e;
}

:host /deep/ .mat-form-field-ripple {
    background-color: #33353e;
}

.navbar-collapse {
  background-color: #DF4931;
}

.profile {
  width: 100%;
  display: block;
  height: 100%;
  margin: 0 1em 1em 0;
}

.profile > * {
  vertical-align:middle;  // Align children to middle of line
}
.profile .img-container {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  display: inline-block;
  margin: .5em .5em 0 .5em;
  .img-avatar {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
  }
}
.profile .info {
  color: white;
  display: inline-block;
}
.profile .info h4 {
  font-size: 12px;
  text-transform: uppercase;
}
.profile .info .divider {
  margin: 0 5px;
}
.profile .info h5 {
  font-size: 12px;
  margin-bottom: 0;
}

@media(max-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar {
       height: 60px;
    }
}
