<nav class="navbar navbar-expand-lg navbar-dark bg-dark" (tap)="onTap($event)">
  <a class="navbar-brand" routerLink="/home"><div class="logo"><img src="../../assets/images/logo2.png"></div></a>
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item check-in">
        <div class="nav-title">Employee Portal</div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <div class="profile">
        <!-- <div class="img-container">
            <img class="img-avatar" src={{loggedInUserAvatar}} alt="">
        </div> -->
        <div class="info">
          <h5><a>{{loggedInUserName}}</a><span class="divider">|</span><a class="logout-link" (click)="logout()">Log Out</a></h5>
        </div>
      </div>
    </ul>
  </div>
</nav>
