<a id="staff-unavailable" class="staffUnavailableCard className" [ngClass]="classList">
  <div class="color-bar" [ngStyle]="{'background-color': color}"> <span *ngIf="icon"><img [src]="icon" alt=""></span></div>
  <div class="fc-content">
    <div class="fc-title">
      {{staffName}}
    </div>
    <div class="right-bar">
      <!-- <span id="history" *ngIf="!rendering" class="action-icon"><i class="fas fa-syringe"></i></span>
      <span id="checkin" *ngIf="!rendering"><i class="fas fa-notes-medical"></i></span>
      <span id="checkin" *ngIf="!rendering" ><i [ngStyle]="{'color':statusColor}" class="fas fa-calendar-check"></i></span> -->
    </div>
    <div class="background-Color" [ngStyle]="{'background-color': color}"></div>
  </div>
  <div class="fc-bg" [ngStyle]="{'background': color}">
  </div>
  <div class="fc-resizer fc-end-resizer">
  </div>
</a>
