<div class="main-container">
  <div class="close-viewer-row"><span class="icon close-viewer" (click)="onCloseClick()"><i class="fa fa-times"></i></span></div>
  <div class="home-content-upload-column">
    <div class="home-content-upload-row">
      <div class="home-content-upload-item-column">
        <div class="home-content-upload-item-title">Home Page Content</div>
        <div class="panel-flex-column">
          <mat-form-field class="panel-flex-row-item">
            <input autocomplete="off" matInput placeholder="Title"
              [(ngModel)]="homeContentTitle" [formControl]="contentTitle">
          </mat-form-field>
          <mat-form-field class="panel-flex-row-item">
            <textarea autocomplete="off" matInput placeholder="Description"
              [(ngModel)]="homeContentDescription" [formControl]="contentDescription"></textarea>
          </mat-form-field>
        </div>
        <div class="home-content-upload-item">
          <button mat-raised-button (click)="openHomePageContentInput()">
            Select File to Upload
          </button>
          <input id="homePageContentFileInput" hidden type="file" accept=".pdf" (change)="homePageContentFileChange($event.target.files)" >
          <button mat-button [disabled]="!homePageContentFile" (click)="uploadHomePageContent()">Upload</button>
        </div>
        <div class="home-content-upload-item-title" *ngIf="homePageContentFile">{{homePageContentFile.name}}</div>
        <div class="home-content-upload-item-title" *ngIf="homePageContentUploaded">Uploaded</div>
        <div class="home-content-upload-item" style="margin-top: 10px;">
          <button mat-raised-button (click)="updateHomeContent(true)" style="width: 159px;">
            Update
          </button>
          <button mat-button (click)="onCancelClick()" style="width: 140px;">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
