<div class="re-links-container">
  <div class="re-links">
    <a (click)="closePanel()" class="close-panel"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    <a>&nbsp;&nbsp;|&nbsp;&nbsp;</a>
    <a (click)="editVisit()" class="edit-panel"><i class="fa fa-pencil" aria-hidden="true"></i></a>
  </div>
</div>
<div class="content" (keyup.enter)="onEnter()">
  <div class="patient-edit" *ngIf="patientEdit">
    <div class="row">
        <div class="col-md-12 patient-select">
            <label for="patientsAutoComplete">Select a New Patient</label>
            <kendo-autocomplete
              name="patientsAutoComplete"
              #patientsAutoComplete
              [data]="patients"
              [valueField]="'firstName'"
              [placeholder]="'Enter Patient name'"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="firstName"
              class="full"
              (valueChange)="patientValueChange($event)"
              [filterable]="true"
              (filterChange)="handleFilter($event)"
              (focus)="onPatientAutoCompleteFocus()">
              <ng-template kendoDropDownListItemTemplate let-dataItem>
                <div (click)="patientSelect(dataItem)" class="patients-list">
                  <div class="patient row no-gutter">
                    <div class="col-6">
                      <div [innerHTML]="formatValue(dataItem.firstName, patientsAutoComplete)" style="display: inline-block;"></div>
                      &nbsp;<div [innerHTML]="formatValue(dataItem.lastName, patientsAutoComplete)" style="display: inline-block;"></div>
                    </div>
                    <div class="col-6" *ngIf="dataItem.address">
                      <div class="template gender">{{getGender(dataItem)}}</div>
                      <span>&nbsp;{{dataItem.address.city}}, {{dataItem.address.province}}</span>
                    </div>
                    <div class="col-6">
                      <div class="icon" inlineSVG="../../../assets/svg/phone-square.svg"></div>
                      <div class="patient-info">&nbsp;{{dataItem.mobileNumber}}</div>
                    </div>
                    <div class="col-6">
                      <div class="icon" inlineSVG="../../../assets/svg/gift.svg"></div>
                      <div class="patient-info">&nbsp;{{getBirthday(dataItem.birthDate)}}&nbsp;(Age: {{getAge(dataItem.birthDate)}})</div>              </div>
                  </div>
                </div>
              </ng-template>
              <ng-template kendoAutoCompleteFooterTemplate>
                <div class="add-patient-btn" (click)="newPatientHandler()">
                  <div>
                    <div class="icon" inlineSVG="../../../assets/svg/plus.svg"></div>
                    <div class="patient-info">
                      Add Patient
                    </div>
                  </div>
                </div>
              </ng-template>
            </kendo-autocomplete>
          </div>
        </div>


        <div class="patient-info" *ngIf="selectedPatient">
          <div class="row no-gutter">
            <div class="patient-data-column">
              <div class="patient-data">
                <div class="">
                  <span class="patient-name">{{selectedPatient.firstName}}&nbsp;{{selectedPatient.lastName}}</span>
                </div>
                <div>
                  <span>{{selectedPatient.address.city}},&nbsp;{{selectedPatient.address.province}}</span>&nbsp;&nbsp;&nbsp;
                  <span class="ref-num">{{selectedPatient.mobileNumber}}</span><br />
                  <span>{{getBirthday(selectedPatient.birthDate)}}</span>&nbsp;
                  <span>(Age: {{getAge(selectedPatient.birthDate)}})</span>&nbsp;
                  <span><i class="fas fa-gift gift"></i></span>
                  <span *ngIf="selectedPatient.gender==='female'" class="dot"><Strong class="gender">F</Strong></span>
                  <span *ngIf="selectedPatient.gender==='male'" class="dot"><Strong class="gender">M</Strong></span>
                </div>
                <!-- <div class="alerts">
                  <h3>Notes/Alerts</h3>
                  <p>{{selectedPatient.notesAndAlerts}}</p>
                </div> -->
              </div>
            </div>
            <!-- <div class="patient-avt col-md-4">
              <img src="http://via.placeholder.com/150x150" class="patient-image">
            </div> -->
          </div>
        </div>
        <div class="visit-form row no-gutter">

        <div class="col-12">
            <button class="add-btn" (click)="updateVisit()" ><span class="icon" inlineSVG="../../../assets/svg/plus.svg"></span>Update Patient</button>
        </div>
        <hr/>
        </div>
  </div>

  <div class="patient-info" *ngIf="!patientLoading && !patientEdit">
    <div class="row no-gutter">
      <div class="patient-data-column">
        <div class="patient-data">
          <div class="">
            <span class="patient-name">{{patient.firstName}}&nbsp;{{patient.lastName}}</span>
          </div>
          <div>
            <span>{{patient.address.city}},&nbsp;{{patient.address.province}}</span>&nbsp;&nbsp;&nbsp;
            <span class="ref-num">{{patient.mobileNumber}}</span><br />
            <span>{{getBirthday(patient.birthDate)}}</span>&nbsp;
            <span>(Age: {{getAge(patient.birthDate)}})</span>&nbsp;
            <span><i class="fas fa-gift gift"></i></span>
            <span *ngIf="patient.gender==='female'" class="dot"><Strong class="gender">F</Strong></span>
            <span *ngIf="patient.gender==='male'" class="dot"><Strong class="gender">M</Strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-accordion multi="true">
    <mat-expansion-panel expanded id="services">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Shifts
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <div class="notes">
        <div class="sub-heading notes-sub-heading">
          <div>
            Visit Notes:
          </div>
          <div *ngIf="visitNotesEditIsEnabled === false" class="panel-flex-row">
              <div class="editable-toggle" (click)="editVisitNotes()"><i class="fas fa-pencil"></i></div>
          </div>
          <div *ngIf="visitNotesEditIsEnabled === true">
            <div class="edit-panel-flex-row edit-controls">
              <div class="editable-toggle" (click)="saveVisitNotes()"><i class="fas fa-save"></i></div>
              <div class="editable-toggle" (click)="cancelVisitNotes()"><i class="fas fa-close"></i></div>
            </div>
          </div>
        </div>
        <div class="visit-notes-row">
          <div *ngIf="visitNotesEditIsEnabled === false">
            <p>{{visit ? visit.visitNotes : ''}}</p>
          </div>
          <div *ngIf="visitNotesEditIsEnabled === true" class="edit-panel-flex-row">
            <mat-form-field class="edit-panel-flex-row">
              <textarea class="visit-notes-textarea" matInput [formControl]="visitNotes">{{visit.visitNotes}}</textarea>
            </mat-form-field>
          </div>
        </div>
      </div> -->
      <!-- <div class="sub-heading">
        Scheduled Appointments:
      </div> -->
      <div class="appointments">
        <div class="row" *ngFor="let appointment of visitAppointments">
          <div class="appointment-panel col-12">
            <div class="cancel-appointment" (click)="cancelAppointment(appointment)">
              <img class="cancel-icon" src="../../../assets/svg/negative-sign-inside-circle.svg" alt="">
            </div>
            <div class="appointment-panel-color" [ngStyle]="{'background-color': appointment.color}" (click)="editAppointment(appointment)">
              <div *ngIf="!appointment.editing" class="edit-icon" inlineSVG="../../../assets/svg/pencil-alt.svg"></div>
              <div *ngIf="appointment.editing" class="times-icon" inlineSVG="../../../assets/svg/times.svg"></div>
            </div>
            <div class="service-container" [ngStyle]="{'background': hexToTranslucentRgbA(appointment.color)}">
              <div class="service-info">
                <div class="appointment-panel-dec">
                  <span class="time">{{getTime(appointment.start)}}&nbsp;-&nbsp;{{getTime(appointment.end)}}</span>
                  <br/>{{getTitle(appointment.title)}}
                </div>
                <div class="price">
                  <span>${{appointment.service.defaultPrice}}</span>
                </div>
              </div>
              <div class="edit-appointment-content" *ngIf="appointment.editing">
                <div class="content-wrapper">
                  <h5 class="sub-heading">Edit Appointment</h5>
                  <mat-form-field [floatLabel]="'always'" style="width: 100%;">
                    <mat-label>Select Service</mat-label>
                    <mat-select placeholder="Appointment type" [(ngModel)]="selectedService" name="services">
                      <mat-option *ngFor="let service of services" [value]="service.serviceName">
                        {{service.serviceName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="half">
                    <label for="startTime">Start Time</label>
                    <kendo-timepicker name="startTime" [steps]="{ minute: 5 }" [(value)]="startTime"></kendo-timepicker>
                  </div>
                  <mat-form-field [floatLabel]="'always'" style="width: 50%;">
                    <mat-label>Duration (minutes)</mat-label>
                    <mat-select placeholder="Duration (minutes)" [(ngModel)]="calculatedDuration" aria-label="Duration" [formControl]="customDuration">
                      <mat-option *ngFor="let durOpt of durationOptions" [value]="durOpt">
                        {{ durOpt }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field [floatLabel]="'always'" style="width: 100%;">
                    <mat-label>Service Provider</mat-label>
                    <mat-select placeholder="Service Provider" [(value)]="selectedStaff" name="staff">
                      <mat-option *ngFor="let staff of currentDataService.staff" [value]="staff.staffId">
                        {{ staff.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="edit-appointment-actions">
                    <button class="update" mat-button (click)="updateAppointment(appointment)"><span class="icon" inlineSVG="../../../assets/svg/check.svg"></span>Update Appointment</button>
                    <button class="cancel" (click)="editAppointment(appointment)" mat-button>Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="addServiceRow" class="row">
        <div class="selecter col-12" [ngClass]="{'hidden': showCreate}">
          <button class="add-btn" (click)="addShift()">
            <span class="icon" inlineSVG="../../../assets/svg/plus.svg"></span>
            Add Shift
          </button>
        </div>
      </div>
      <div class="add-appointment sub-heading" [ngClass]="{'hidden': !showCreate}">
        Add a Shift:
      </div>
      <div class="visit-form row no-gutter" [ngClass]="{'hidden': !showCreate}">
        <div class="col-6">
          <mat-form-field class="full service" [floatLabel]="'always'">
            <mat-select placeholder="Select Service" [(value)]="selectedService" name="services" (selectionChange)="serviceSelectionChange()">
              <mat-option *ngFor="let service of currentDataService.services" [value]="service.serviceName">
                {{ service.serviceName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="full" [floatLabel]="'always'">
            <mat-select placeholder="Service Provider" [(value)]="selectedStaff" name="staff">
              <mat-option *ngFor="let staff of currentDataService.staff" [value]="staff.staffId">
                {{ staff.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <div class="full">
            <label for="startTime">Start Time</label>
            <kendo-timepicker name="startTime" [steps]="{ minute: 5 }" [(value)]="startTime"></kendo-timepicker>
          </div>
        </div>
        <div class="col-6">
          <div class="full">
            <label for="endTime">End Time</label>
            <kendo-timepicker name="endTime" [steps]="{ minute: minimumDuration }" [min]="minTime" [max]="maxTime"
              [(value)]="endTime"></kendo-timepicker>
          </div>
          <!-- <mat-form-field class="full" [floatLabel]="'always'">
            <mat-select placeholder="Duration (minutes)" [(ngModel)]="calculatedDuration" aria-label="Duration" [formControl]="customDuration">
              <mat-option *ngFor="let durOpt of durationOptions" [value]="durOpt">
                {{ durOpt }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
        <div class="col-12">
          <button class="add-btn" (click)="createAppointment()" [disabled]="!createOk()">
            <span class="icon" inlineSVG="../../../assets/svg/plus.svg"></span>Add Appointment
          </button>
          <button mat-button (click)="cancelNewAppointment()" class="service-btn" [ngClass]="{'hidden': !showCreate}">Cancel</button>
        </div>
      <hr/>
      </div>
        <app-cancel-visit [ngClass]="{'hidden': !showCancelAppointment}" (cancellationMessage)="onAppointmentCancellation()"
        (closeCancellationMessage)="onCloseAppointmentCancellation($event)" source="Appointment"></app-cancel-visit>
    </mat-expansion-panel>

    <!-- <mat-expansion-panel expanded id="productsPanel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Products
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div id="productSelections">
        <table class="detail-table" id="productList">
          <tr *ngFor="let product of selectedProducts">
            <td>
              <div (click)="removeProduct(product)" class="bullet" [inlineSVG]="'../../../assets/svg/negative-sign-inside-circle.svg'"></div>
            </td>
            <td>{{product.name}}</td>
            <td><span>${{product.retailPrice}}</span></td>
            <td class="table-quantity-box"><span class='quantity-box'>
              <mat-icon class="icon-quantity-minus" (click)="decreaseProductQuantity(product)"><i class="fa fa-minus-circle i-quantity-minus"></i></mat-icon>
              <input class="no-spin" type="number" [(ngModel)]="product.quantity" (change)="updateProductQuantity(product)">
              <mat-icon class="icon-quantity-plus" (click)="increaseProductQuantity(product)"><i class="fa fa-plus-circle i-quantity-plus"></i></mat-icon>
            </span></td>
          </tr>
        </table>
      </div>
      <div class="product-total">
        <div class="sub-heading">
          Total:
        </div>
        <div class="sub-heading products-total">
          ${{totalOfProductPrices}}
        </div>
      </div>
      <div class="row">
        <div class="selecter col-12">
          <div class="form-field-container">
            <mat-form-field [floatLabel]="'always'">
              <mat-label>Add Product</mat-label>
              <input id="productsInput" type="text" matInput [formControl]="selectedProduct" placeholder="Search for a product" [matAutocomplete]="allProductsAuto"/>
              <mat-autocomplete #allProductsAuto="matAutocomplete" [displayWith]="productDisplayFn" (optionSelected)="addProductToVisit($event)">
                  <mat-option *ngFor="let product of allAvailableProducts" [value]="product" >
                    {{ product.name }}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="search-icon-container">
            <div class="bullet" [inlineSVG]="'../../../assets/svg/search.svg'"></div>
          </div>

        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Visit &amp; Billing Information
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="payment-wrapper" *ngIf="visit">
        <div class="payment-list">
          <ul>
            <li class="unpaid"><i class="fa fa-usd" aria-hidden="true"></i><br><span>UNPAID</span></li>
            <li class="cancel"><a (click)="cancelVisit()"><i class="fa fa-calendar-times-o"></i><br><span>CANCEL VISIT</span></a></li>
          </ul>
        </div>
        <div class="visit-payment-wrap">
          <h3>Visit Payment</h3>
          <div class="visit-payment">

          </div>
        </div>
        <app-cancel-visit [ngClass]="{'hidden': !showCancelVisit}" (cancellationMessage)="onVisitCancellation()"
        (closeCancellationMessage)="onCloseVisitCancellation()" source="Visit"></app-cancel-visit>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded id="history">
      <mat-expansion-panel-header>
        <mat-panel-title>
          History
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h3>Recent Appointments</h3>
      <div *ngIf="recentAppointments" class="appointments">
        <div class="row no-gutter" *ngFor="let appointment of recentAppointments; let i=index">
          <div *ngIf="i<3" class="appointment-panel col-12" [ngStyle]="{'background': hexToTranslucentRgbA(appointment.color)}">
            <div class="appointment-panel-color" [ngStyle]="{'background-color': appointment.color }"></div>
            <div class="appointment-panel-dec">
              <span class="time">{{getDayofWeek(appointment.start)}}, {{getDate(appointment.start)}}</span>
              <br/>{{getTitle(appointment.title)}}
            </div>
            <div class="price">
              <span>${{appointment.service ? appointment.service.defaultPrice : ''}}</span>
            </div>
          </div>
        </div>
      </div>
      <h3>Recently Purchased Products</h3>
      <div *ngIf="recentProducts">
        <table class="detail-table" id="historyProductsTable">
          <tr *ngFor="let product of recentProducts | slice:0:3; let i=index">
            <td class="reorder"><div class="bullet" [inlineSVG]="'../../../assets/svg/redo-alt.svg'"></div></td>
            <td class="quantity"><span *ngIf="product.quantity">{{product.quantity}}&nbsp;x</span></td>
            <td><span class="product-name">{{product.name}}</span></td>
            <td class="price"><span>${{product.retailPrice}}</span></td>
          </tr>
        </table>
      </div>
      <div class="recent-activity">
        <h3>Recent Activity</h3>
        <ul>
          <li>Appointment Rescheduled&emsp;<span class="time-stamp">9:32AM - May 14, 2018</span></li>
          <li>Appointment Booked&emsp;<span class="time-stamp">9:32AM - May 14, 2018</span></li>
          <li>Products Purchased&emsp;<span class="time-stamp">9:32AM - May 14, 2018</span></li>
          <li>Post Call Forms Emailed&emsp;<span class="time-stamp">9:32AM - May 14, 2018</span></li>
        </ul>
        <a>View More</a>
      </div>
    </mat-expansion-panel> -->
  </mat-accordion>
</div>

<mat-menu #statusMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent>
    <button class="status-menu-button" mat-menu-item (click)="notConfirmedClicked()">
      <span class="billing-status-icon unconfirmed" inlineSVG="../../../assets/svg/calendar-minus.svg" aria-hidden="true"></span>
      &nbsp;Not Confirmed
    </button>
    <button class="status-menu-button" mat-menu-item (click)="confirmedClicked()">
      <span class="billing-status-icon confirmed" inlineSVG="../../../assets/svg/calendar-check.svg" aria-hidden="true"></span>
      &nbsp;Confirmed
    </button>
    <button class="status-menu-button" mat-menu-item (click)="checkInClicked()">
      <span class="billing-status-icon checked-in" inlineSVG="../../../assets/svg/calendar-check.svg" aria-hidden="true"></span>
      &nbsp;Check In
    </button>
    <button class="status-menu-button" mat-menu-item (click)="noShowClicked()">
      <span class="billing-status-icon no-show" inlineSVG="../../../assets/svg/calendar-exclamation.svg" aria-hidden="true"></span>
      &nbsp;No Show
    </button>
  </ng-template>
</mat-menu>
