<ngx-loading [show]="loading"></ngx-loading>

<mat-expansion-panel id="editpatient" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{addOrEdit}} Patient
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput required placeholder="First Name" aria-label="First Name" [(ngModel)]="editedPatient.firstName" (change)="formatterService.textCapitalize(firstName)" [formControl]="firstName">
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput required placeholder="Last Name" aria-label="Last Name" [(ngModel)]="editedPatient.lastName" (change)="formatterService.textCapitalize(lastName)" [formControl]="lastName">
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput required placeholder="MSP #" aria-label="MSP #" [(ngModel)]="editedPatient.clientId" [formControl]="clientId">
      <mat-error *ngIf="clientId.errors?.maxlength">MSP# cannot exceed 10 digits</mat-error>
      <mat-error *ngIf="clientId.invalid">MSP# can only contain digits</mat-error>
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Nickname" aria-label="Nickname" [(ngModel)]="editedPatient.nickName" (change)="formatterService.textCapitalize(nickname)" [formControl]="nickname">
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput [matDatepicker]="bdpicker" placeholder="Birth Date" [value]="getFormattedBirthDate()" [(ngModel)]="editedPatient.birthDate" [formControl]="birthDate" (change)="updateSubmitButtonState()">
      <mat-datepicker-toggle matSuffix [for]="bdpicker"></mat-datepicker-toggle>
      <mat-datepicker #bdpicker></mat-datepicker>
      <mat-error *ngIf="birthDate.invalid">Not a Valid Date</mat-error>
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Gender" aria-label="Gender" [(ngModel)]="editedPatient.gender" (change)="formatterService.textCapitalize(gender)" [formControl]="gender">
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Address 1" aria-label="Address1" [(ngModel)]="editedPatient.address.address1" (change)="formatterService.textCapitalize(addressAddress1)" [formControl]="addressAddress1">
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Address 2" aria-label="Address2" [(ngModel)]="editedPatient.address.address2" (change)="formatterService.textCapitalize(addressAddress2)" [formControl]="addressAddress2">
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="City" aria-label="City" [(ngModel)]="editedPatient.address.city" (change)="formatterService.textCapitalize(addressCity)" [formControl]="addressCity">
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <mat-select [(ngModel)]="editedPatient.address.province" name="usStates">
        <mat-option *ngFor="let provinceState of provincesAndStates" [value]="provinceState">
          {{ provinceState }}
        </mat-option>
      </mat-select>
      <mat-placeholder class="placeholder">{{editedPatient.address.country == 'United States' ? 'State' : 'Province'}}</mat-placeholder>
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <mat-select placeholder="Country" [(ngModel)]="editedPatient.address.country" name="usStates" (change)="onChangeCountry()">
        <mat-option *ngFor="let country of countriesOfTheWorld" [value]="country">
          {{ country }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput aria-label="Postal Code" class="uppercased" [(ngModel)]="editedPatient.address.postalCode" (change)="updateSubmitButtonState()" [formControl]="addressPostalCode">
      <mat-placeholder class="placeholder">{{editedPatient.address.country == 'United States' ? 'Zip Code' : 'Postal Code'}}</mat-placeholder>
      <mat-error *ngIf="addressPostalCode.invalid">{{editedPatient.address.country == 'United States' ? 'Not a Valid Zip Code' : 'Not a Valid Postal Code'}}</mat-error>
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Home Number" aria-label="Home Number" [(ngModel)]="editedPatient.homeNumber" (change)="formatterService.formatPhoneNumber(homeNumber);updateSubmitButtonState()" [formControl]="mobileNumber">
      <mat-error *ngIf="homeNumber.invalid">Not a Valid Phone #</mat-error>
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Mobile Number" aria-label="Mobile Number" [(ngModel)]="editedPatient.mobileNumber" (change)="formatterService.formatPhoneNumber(mobileNumber);updateSubmitButtonState()" [formControl]="mobileNumber">
      <mat-error *ngIf="mobileNumber.invalid">Not a Valid Phone #</mat-error>
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Email" aria-label="Email" [(ngModel)]="editedPatient.email" [formControl]="email" (change)="updateSubmitButtonState()">
      <mat-error *ngIf="email.invalid">Not a Valid Email</mat-error>
    </mat-form-field>
    <mat-form-field id="serviceGovtBillingFormField" class="panel-flex-row-item">
      <mat-select placeholder="Preferred" [(ngModel)]="editedPatient.isPreferred" name="isPreferred">
        <mat-option *ngFor="let boolChoice of boolChoices" [value]="boolChoice == 'Yes' ? true : false">
          {{ boolChoice }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <mat-select [(ngModel)]="editedPatient.doctorId" name="doctors">
        <mat-option *ngFor="let doctor of theDoctors" [value]="doctor.doctorId">
          {{doctor.proTitle}} {{doctor.firstName}} {{doctor.lastName}}
        </mat-option>
      </mat-select>
      <mat-placeholder class="placeholder">Family Physician</mat-placeholder>
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <mat-select [(ngModel)]="editedPatient.pharmacyId" name="pharmacies">
        <mat-option *ngFor="let pharmacy of thePharmacies" [value]="pharmacy.pharmacyId">
          {{pharmacy.name}}
        </mat-option>
      </mat-select>
      <mat-placeholder class="placeholder">Preferred Pharmacy</mat-placeholder>
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field id="sendApptNotifications" class="panel-flex-row-item">
      <mat-select placeholder="Send Notifications" [(ngModel)]="editedPatient.sendAppointmentNotifications" name="sendAppointmentReminders">
        <mat-option *ngFor="let boolChoice of boolChoices" [value]="boolChoice == 'Yes' ? true : false">
          {{ boolChoice }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field id="sendRetentionEmails" class="panel-flex-row-item">
      <mat-select placeholder="Send Retention Emails" [(ngModel)]="editedPatient.sendRetentionEmails" name="sendRetentionEmails">
        <mat-option *ngFor="let boolChoice of boolChoices" [value]="boolChoice == 'Yes' ? true : false">
          {{ boolChoice }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field id="communicationPreference" class="panel-flex-row-item">
      <mat-select placeholder="Preferred Communication Method" [(ngModel)]="editedPatient.communicationPreference" name="communicationPreference">
        <mat-option *ngFor="let commPref of communicationPreferences" [value]="commPref">
          {{ commPref }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header [style.display]="'none'">
  </mat-expansion-panel-header>
  <div class="panel-flex-row">
    <div>
      <button mat-button class="btn half" (click)="updatePatient()" [disabled]="submitButtonDisabledState">{{addOrEdit == 'Add' ? 'Add' : 'Update'}} Patient</button>
      <button mat-button class="btn half" (click)="cancelUpdate()">Cancel</button>
    </div>
  </div>
</mat-expansion-panel>
