<ngx-loading [show]="loading"></ngx-loading>
<mat-sidenav-container class="example-container" hasBackdrop="false">
   <mat-sidenav #actionPanel class="dummy-mat-sidenav" mode="side" position="end" [(opened)]="actionPanelOpened">
       <div class="dummy-action-panel"></div>
   </mat-sidenav>
    <mat-sidenav-content>
        <div class="content" [ngClass]="{'date-picker-visible': datePickerVisible}" *ngIf="visible">
            <app-calnav *ngIf="displayCalendar()" [company]="currentDataService.company" [ngClass]="{'hidden': !datePickerVisible}"></app-calnav>

            <div class="schedule-wrapper" *ngIf="configLoaded">
                <app-current-date></app-current-date>

                <p-schedule height="auto" [options]="optionsConfig" [events]="schedules" editable="true"
                    #staffSchedule name="staffSchedule" (onEventDrop)="onEventDrop($event)" [eventRender]="staffScheduleRender"
                    (onEventClick)="eventClick($event)" (onEventMouseover)="eventHover($event, hoverPanel)"
                    (onEventMouseout)="eventMouseout($event)" (contextmenu)="onRightClick($event, staffSchedule)"
                    (onViewRender)="scheduleRender($event)">
                </p-schedule>
                <p-overlayPanel #hoverPanel id="hoverPanel" [dismissable]="'false'">
                  <div class="hover-box" *ngIf="hoveredEvent">
                    <ul>
                      <li>City, Province: NA</li>
                      <!-- <li>Notes: {{hoveredEvent.notes}}</li>
                      <li>Name: {{hoveredEvent.staff.name}}</li> -->
                      <li>
                        <div class="right-bar">
                          <span id="history" *ngIf="!rendering" class="action-icon"><i class="fal fa-child"></i></span>
                          <span id="checkin" *ngIf="!rendering"><i class="fal fa-paste"></i></span>
                          <span id="checkin" *ngIf="!rendering" ><i [ngStyle]="{'color':'#b1d100'}" class="fas fa-calendar-check"></i></span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </p-overlayPanel>
            </div>

            <context-menu #myContextMenu>
                <ng-template contextMenuItem>
                    Visit Details
                </ng-template>
                <ng-template contextMenuItem>
                    Patient History
                </ng-template>
                <ng-template contextMenuItem divider="true"></ng-template>
                <ng-template contextMenuItem passive="true">
                    Quick Notes: <input type="text">
                </ng-template>
            </context-menu>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-actionpanel></app-actionpanel>
