<mat-expansion-panel id="editlab" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{addOrEdit}} Lab
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Lab Name" class="capitalized" aria-label="Lab Name" (change)="formatterService.textCapitalize(name)" [(ngModel)]="editedLab.name" [formControl]="name">
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Address 1" class="capitalized" aria-label="Address1" (change)="formatterService.textCapitalize(addressAddress1)" [(ngModel)]="editedLab.address.address1" [formControl]="addressAddress1">
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Address 2" class="capitalized" aria-label="Address2" (change)="formatterService.textCapitalize(addressAddress2)" [(ngModel)]="editedLab.address.address2" [formControl]="addressAddress2">
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="City" class="capitalized" aria-label="City" (change)="formatterService.textCapitalize(addressCity)" [(ngModel)]="editedLab.address.city" [formControl]="addressCity">
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <mat-select [(ngModel)]="editedLab.address.province" name="usStates">
        <mat-option *ngFor="let provinceState of provincesAndStates" [value]="provinceState">
          {{ provinceState }}
        </mat-option>
      </mat-select>
      <mat-placeholder class="placeholder">{{editedLab.address.country == 'United States' ? 'State' : 'Province'}}</mat-placeholder>
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <mat-select placeholder="Country" [(ngModel)]="editedLab.address.country" name="usStates" (change)="onChangeCountry()">
        <mat-option *ngFor="let country of countriesOfTheWorld" [value]="country">
          {{ country }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
        <input matInput aria-label="Postal Code" class="uppercased" [(ngModel)]="editedLab.address.postalCode" (change)="formatterService.textUppercase(addressPostalCode);updateSubmitButtonState()" [formControl]="addressPostalCode">
        <mat-placeholder class="placeholder">{{editedLab.address.country == 'United States' ? 'Zip Code' : 'Postal Code'}}</mat-placeholder>
        <mat-error *ngIf="addressPostalCode.invalid">{{editedLab.address.country == 'United States' ? 'Not a Valid Zip Code' : 'Not a Valid Postal Code'}}</mat-error>
      </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Phone Number" aria-label="Phone Number" [(ngModel)]="editedLab.phoneNumber1" (change)="formatterService.formatPhoneNumber(phoneNumber1);updateSubmitButtonState()" [formControl]="phoneNumber1">
      <mat-error *ngIf="phoneNumber1.invalid">Not a Valid Phone #</mat-error>
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Phone Number - Alternate 1" aria-label="Phone Number - Alternate 1" [(ngModel)]="editedLab.phoneNumber2" (change)="formatterService.formatPhoneNumber(phoneNumber2);updateSubmitButtonState()" [formControl]="phoneNumber2">
      <mat-error *ngIf="phoneNumber2.invalid">Not a Valid Phone #</mat-error>
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Phone Number - Alternate 2" aria-label="Phone Number - Alternate 2" [(ngModel)]="editedLab.phoneNumber3" (change)="formatterService.formatPhoneNumber(phoneNumber3);updateSubmitButtonState()" [formControl]="phoneNumber3">
      <mat-error *ngIf="phoneNumber3.invalid">Not a Valid Phone #</mat-error>
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Fax Number" aria-label="Fax Number" [(ngModel)]="editedLab.faxNumber" (change)="formatterService.formatPhoneNumber(faxNumber);updateSubmitButtonState()" [formControl]="faxNumber">
      <mat-error *ngIf="faxNumber.invalid">Not a Valid Fax #</mat-error>
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Email" aria-label="Email" [(ngModel)]="editedLab.email" [formControl]="email" (change)="updateSubmitButtonState()">
      <mat-error *ngIf="email.invalid">Not a Valid Email</mat-error>
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Website" aria-label="Website" [(ngModel)]="editedLab.website" [formControl]="website">
      <mat-error *ngIf="website.invalid">Not a Valid URL</mat-error>
    </mat-form-field>
  </div>
  <div class="panel-flex-row">
    <mat-form-field id="hoursOfOperationInput" class="panel-flex-row-item">
      <input matInput placeholder="Hours of Operation" (click)="openHoursOfOperationDialog()" aria-label="Hours of Operation" [(ngModel)]="editedLab.hoursOfOperation" [formControl]="hoursOfOperation">
    </mat-form-field>
    <mat-form-field class="panel-flex-row-item">
      <input matInput placeholder="Lab Type" aria-label="Lab Type" [(ngModel)]="editedLab.labType" [formControl]="labType">
    </mat-form-field>
  </div>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header [style.display]="'none'">
  </mat-expansion-panel-header>
  <div class="panel-flex-row">
    <div>
      <button mat-button class="btn half" (click)="updateLab()" [disabled]="submitButtonDisabledState">{{addOrEdit == 'Add' ? 'Add' : 'Update'}} Lab</button>
      <button mat-button class="btn half" (click)="cancelUpdate()">Cancel</button>
    </div>
  </div>
</mat-expansion-panel>