<h1 mat-dialog-title>Quick Check-In - {{getReadableDate()}}</h1>
<div mat-dialog-content>
  <p *ngIf="visits.length === 0">No visits scheduled on this date.</p>
  <ul>
    <li *ngFor="let visit of visits">
      <div>
      <!-- <div [matMenuTriggerFor]="statusDialogStatusMenu" [matMenuTriggerData]="{visit: visit}"> -->
        <!-- <div class="icon">
          <span *ngIf="!visit.confirmed && !visit.noShow" class="billing-status-icon unconfirmed" inlineSVG="../../../assets/svg/calendar-minus.svg" aria-hidden="true"></span>
          <span *ngIf="visit.confirmed && !visit.checkedIn && !visit.noShow" class="billing-status-icon confirmed" inlineSVG="../../../assets/svg/calendar-check.svg" aria-hidden="true"></span>
          <span *ngIf="visit.confirmed && visit.checkedIn && !visit.noShow" class="billing-status-icon checked-in" inlineSVG="../../../assets/svg/calendar-check.svg" aria-hidden="true"></span>
          <span *ngIf="visit.noShow" class="billing-status-icon no-show" inlineSVG="../../../assets/svg/calendar-exclamation.svg" aria-hidden="true"></span>
        </div> -->
        <mat-checkbox (click)="checkInClick(visit)"></mat-checkbox>
        <div class="label">{{getPatientName(visit.patientId)}}</div>
      </div>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onConfirmClick()">Check-In</button>
</div>

<mat-menu #statusDialogStatusMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-visit="visit">
    <button class="status-menu-button" mat-menu-item (click)="notConfirmedClicked(visit)">
      <span class="billing-status-icon unconfirmed" inlineSVG="../../../assets/svg/calendar-minus.svg" aria-hidden="true"></span>
      &nbsp;Not Confirmed
    </button>
    <button class="status-menu-button" mat-menu-item (click)="confirmedClicked(visit)">
      <span class="billing-status-icon confirmed" inlineSVG="../../../assets/svg/calendar-check.svg" aria-hidden="true"></span>
      &nbsp;Confirmed
    </button>
    <button class="status-menu-button" mat-menu-item (click)="checkInClicked(visit)">
      <span class="billing-status-icon checked-in" inlineSVG="../../../assets/svg/calendar-check.svg" aria-hidden="true"></span>
      &nbsp;Check In
    </button>
    <button class="status-menu-button" mat-menu-item (click)="noShowClicked(visit)">
      <span class="billing-status-icon no-show" inlineSVG="../../../assets/svg/calendar-exclamation.svg" aria-hidden="true"></span>
      &nbsp;No Show
    </button>
  </ng-template>
</mat-menu>
