<ngx-loading [show]="loading"></ngx-loading>
<ngx-loading [show]="disableGrid" id="gridDisableDiv"></ngx-loading>

<div class="panel-flex-row">
  <div class="panel-flex-column-1">
    <div class="panel-flex-column-full">
      <div *ngIf="editIsEnabled === false" class="panel-flex-row patient-name">
        <div class="column-header">{{thePatient.firstName}} {{thePatient.lastName}}</div>
        <div class="editable-toggle" (click)="editPatientInfo()"><i class="fas fa-pencil"></i></div>
      </div>
      <div *ngIf="editIsEnabled === true">
        <div class="edit-panel-flex-row name-and-edit-controls">
          <mat-form-field class="edit-panel-flex-row patient-name">
            <input matInput placeholder="First Name" aria-label="First Name" [(ngModel)]="thePatient.firstName" [formControl]="firstName">
          </mat-form-field>
          <mat-form-field class="edit-panel-flex-row patient-name">
            <input matInput placeholder="Last Name" aria-label="Last Name" [(ngModel)]="thePatient.lastName" [formControl]="lastName">
          </mat-form-field>
          <div class="edit-panel-flex-row edit-controls">
            <div class="editable-toggle" (click)="savePatientInfo()"><i class="fas fa-save"></i></div>
            <div class="editable-toggle" (click)="editPatientInfo()"><i class="fas fa-close"></i></div>
          </div>
        </div>
      </div>
      <div *ngIf="editIsEnabled === false" class="panel-flex-row patient-birthdate">
        <div class="field-content">&nbsp;{{getBirthday()}}</div>
        <div class="field-content">&nbsp;(Age: {{getAge()}})</div>
        <div class="field-content">&nbsp;{{getGender()}}</div>
      </div>
      <div *ngIf="editIsEnabled === true">
        <div class="edit-panel-flex-column">
          <mat-form-field class="edit-panel-flex-row">
            <input matInput [matDatepicker]="bdpicker" placeholder="Birth Date" [value]="getFormattedBirthDate()" [(ngModel)]="thePatient.birthDate" [formControl]="birthDate">
            <mat-datepicker-toggle matSuffix [for]="bdpicker"></mat-datepicker-toggle>
            <mat-datepicker #bdpicker></mat-datepicker>
            <mat-error *ngIf="birthDate.invalid">Not a Valid Date</mat-error>
          </mat-form-field>
        </div>
        <div class="edit-panel-flex-column">
          <mat-form-field class="edit-panel-flex-row">
            <input matInput placeholder="Gender" aria-label="Gender" [(ngModel)]="thePatient.gender" (change)="formatterService.textCapitalize(gender)" [formControl]="gender">
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="editIsEnabled === false" class="panel-flex-row patient-healthcare-number">
        <div class="panel-flex-column">
          <div class="field-heading">Health Care Number</div>
          <div class="field-content">&nbsp;{{thePatient.clientId}}</div>
        </div>
      </div>
      <div *ngIf="editIsEnabled === true">
        <mat-form-field class="edit-panel-flex-row">
          <input matInput placeholder="Health Care Number" aria-label="MSP #" [(ngModel)]="thePatient.clientId" [formControl]="clientId">
          <mat-error *ngIf="clientId.errors?.maxlength">MSP# cannot exceed 10 digits</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="panel-flex-column-full">
      <div class="edit-panel-flex-column">
        <div *ngIf="editIsEnabled === false" class="panel-flex-row patient-address">
          <div class="field-heading">Mailing Address</div>
          <div><i class="fa fa-print"></i></div>
        </div>
        <div class="panel-flex-row">
          <div *ngIf="editIsEnabled === false" class="field-content">&nbsp;{{thePatient.address.address1}}</div>
        </div>
        <div *ngIf="editIsEnabled === true">
          <mat-form-field class="edit-panel-flex-row">
            <input matInput placeholder="Address 1" aria-label="Address1" [(ngModel)]="thePatient.address.address1" (change)="formatterService.textCapitalize(addressAddress1)" [formControl]="addressAddress1">
          </mat-form-field>
        </div>
        <div *ngIf="editIsEnabled === false" class="panel-flex-row patient-address-2">
          <div class="field-content">&nbsp;{{thePatient.address.city}},</div>
          <div class="field-content">&nbsp;{{thePatient.address.province}}</div>
          <div class="field-content">&nbsp;{{thePatient.address.postalCode}}</div>
        </div>
        <div *ngIf="editIsEnabled === true">
          <mat-form-field class="edit-panel-flex-row">
            <input matInput placeholder="City" aria-label="City" [(ngModel)]="thePatient.address.city" (change)="formatterService.textCapitalize(addressCity)" [formControl]="addressCity">
          </mat-form-field>
          <mat-form-field class="edit-panel-flex-row">
            <input matInput placeholder="Province" aria-label="Province" [(ngModel)]="thePatient.address.province" (change)="formatterService.textCapitalize(addressProvince)" [formControl]="addressProvince">
          </mat-form-field>
          <mat-form-field class="edit-panel-flex-row">
            <input matInput placeholder="Postal Code" aria-label="PostalCode" [(ngModel)]="thePatient.address.postalCode" (change)="formatterService.textCapitalize(addressPostalCode)" [formControl]="addressPostalCode">
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="editIsEnabled === false" class="panel-flex-row">
        <div class="field-heading">Email Address</div>
      </div>
      <div *ngIf="editIsEnabled === false" class="panel-flex-row patient-email">
        <div class="field-content">&nbsp;{{thePatient.email}}</div>
        <div><i class="fas fa-comment-exclamation"></i></div>
        <div><i class="far fa-comment-dots"></i></div>
      </div>
      <div *ngIf="editIsEnabled === true">
        <mat-form-field class="edit-panel-flex-row">
          <input matInput placeholder="Email" aria-label="Email" [(ngModel)]="thePatient.email" [formControl]="email">
          <mat-error *ngIf="email.invalid">Not a Valid Email</mat-error>
        </mat-form-field>
      </div>
      <div class="panel-flex-row">
        <div class="field-heading checkbox">
          <mat-checkbox (change)="updateState()" [(ngModel)]="thePatient.sendAppointmentNotifications">Send Appointment Notifications</mat-checkbox>
        </div>
      </div>
      <div class="panel-flex-column">
        <div class="panel-flex-row">
          <div class="field-heading checkbox" style="margin-top:-10px;">
            <mat-checkbox (change)="updateState()" [(ngModel)]="thePatient.sendRetentionEmails">Send Retention Emails</mat-checkbox>
          </div>
        </div>
      </div>
        <div class="panel-flex-column">
          <div *ngIf="editIsEnabled === false" class="panel-flex-row">
            <div class="field-heading">Mobile Phone</div>
          </div>
          <div *ngIf="editIsEnabled === false" class="panel-flex-row">
            <div class="field-content">&nbsp;{{thePatient.mobileNumber}}&nbsp;</div>
            <div><i class="fas fa-comment-exclamation"></i></div>
          </div>
          <div *ngIf="editIsEnabled === true">
            <mat-form-field class="panel-flex-row-item">
              <input matInput placeholder="Mobile Number" aria-label="Mobile Number" [(ngModel)]="thePatient.mobileNumber" (change)="formatterService.formatPhoneNumber(mobileNumber)" [formControl]="mobileNumber">
              <mat-error *ngIf="mobileNumber.invalid">Not a Valid Phone #</mat-error>
            </mat-form-field>
          </div>
          <div class="panel-flex-row">
            <div class="field-heading checkbox">
              <mat-checkbox (change)="updateState()" [(ngModel)]="thePatient.sendAppointmentNotifications">Send Appointment Notifications</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div *ngIf="editIsEnabled === false" class="field-heading">Home Phone</div>
          </div>
          <div *ngIf="editIsEnabled === false" class="panel-flex-row">
            <div class="field-content">&nbsp;{{thePatient.homeNumber}}</div>
          </div>
          <div *ngIf="editIsEnabled === true">
            <mat-form-field class="panel-flex-row-item">
              <input matInput placeholder="Home Number" aria-label="Home Number" [(ngModel)]="thePatient.homeNumber" (change)="formatterService.formatPhoneNumber(homeNumber)" [formControl]="homeNumber">
              <mat-error *ngIf="homeNumber.invalid">Not a Valid Phone #</mat-error>
            </mat-form-field>
          </div>
        </div>
      <div class="panel-flex-column">
        <div class="panel-flex-row">
          <div class="field-heading">Communication Preference</div>
        </div>
        <div *ngIf="editIsEnabled === false" class="panel-flex-row">
          <div class="field-content">&nbsp;{{thePatient.communicationPreference}}</div>
        </div>
        <div *ngIf="editIsEnabled === true">
          <mat-form-field id="communicationPreference" class="panel-flex-row-item">
            <mat-select [(ngModel)]="thePatient.communicationPreference" name="communicationPreference">
              <mat-option *ngFor="let commPref of communicationPreferences" [value]="commPref">
                {{ commPref }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="panel-flex-column">
        <div class="panel-flex-row">
          <div class="field-heading">Family Physician</div>
        </div>
        <div *ngIf="editIsEnabled === false" class="panel-flex-row">
          <div class="field-content">&nbsp;{{thePatient.familyPhysician.proTitle}} {{thePatient.familyPhysician.firstName}} {{thePatient.familyPhysician.lastName}}</div>
        </div>
        <div *ngIf="editIsEnabled === true">
          <mat-form-field class="panel-flex-row-item">
            <mat-select [(ngModel)]="thePatient.doctorId" name="doctors">
              <mat-option *ngFor="let doctor of theDoctors" [value]="doctor.doctorId">
                {{doctor.proTitle}} {{doctor.firstName}} {{doctor.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="panel-flex-column">
        <div class="panel-flex-row">
          <div class="field-heading">Preferred Pharmacy</div>
        </div>
        <div *ngIf="editIsEnabled === false" class="panel-flex-row">
          <div class="field-content">&nbsp;{{thePatient.preferredPharmacy.name}}</div>
        </div>
        <div *ngIf="editIsEnabled === true">
          <mat-form-field class="panel-flex-row-item">
            <mat-select [(ngModel)]="thePatient.pharmacyId" name="pharmacies">
              <mat-option *ngFor="let pharmacy of thePharmacies" [value]="pharmacy.pharmacyId">
                {{pharmacy.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-flex-column-2">
      <div class="panel-flex-column-full visit-stats">
          <div class=panel-flex-row>
            <div class="past-visits">
              <div class="past-visits-icon"><i class="fa fa-calendar-check"></i></div>
              <div class="past-visits-number">
                100
              </div>
              <div class="past-visits-text">
                past visits
              </div>
              <div class="past-visits-text">
                ({{patientService.attendedPercentage}}%)
              </div>
            </div>
            <div class="noshow-visits">
              <div class="noshow-visits-icon"><i class="fa fa-calendar-times"></i></div>
              <div class="noshow-visits-number">
                100
              </div>
              <div class="noshow-visits-text">
                no-show
              </div>
              <div class="noshow-visits-text">
                ({{patientService.noShowPercentage}}%)
              </div>
            </div>
            <div class="total-visits">
                <div class="total-visits-icon"><i class="fa fa-calendar-check"></i></div>
                <div class="total-visits-number">
                  100
                </div>
                <div class="total-visits-text">
                  total appts
                </div>
              </div>
          </div>
        </div>

        <div class="panel-flex-column-full visit-details">
            <div class="panel-flex-column visits-section">
              <div class="panel-flex-row">
                <div class="column-header">Previous Visits:</div>
              </div>
              <div *ngIf="patientService.hasPreviousVisits">
                <div class="panel-flex-row" *ngFor="let visit of patientService.previousVisits | slice:0:numberOfPreviousVisits">
                  <div *ngIf="visit.appointments[0] !== undefined" class="panel-flex-row-appointments">
                    <div class="appointment-panel-color" [ngStyle]="{'background-color': getPrevApptBGColor()}">
                    </div>
                    <div class="panel-flex-row" [ngStyle]="{'background': hexToTranslucentRgbA('#fafcf1')}">
                      <div class="panel-flex-column">
                        <div class="panel-flex-row prev-visit-header">
                          <div class="visit-title">
                            {{formatVisitDate(visit.appointments[0].start)}}
                          </div>
                          <div class="visit-cost-unpaid">
                            ${{getTotalVisitCost(visit)}}
                          </div>
                        </div>
                        <div class="panel-flex-row prev-visit" *ngFor="let appt of visit.appointments">
                          <div class="visit-text"><i class="far fa-clock"></i></div>
                          <div class="visit-text appt-time">{{formatApptTime(appt.start)}}</div>
                          <div class="visit-text">{{appt.service.serviceName}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-flex-row">
                <div class="column-header-link" (click)="toggleFullHistory()">{{showAllPreviousVisits ? 'hide' : 'view'}} full visit history</div>
              </div>
            </div>
          </div>


          <div class="panel-flex-column-full visit-details">
              <div class="panel-flex-column visits-section">
                <div class="panel-flex-row">
                  <div class="column-header">Previous Purchases:</div>
                </div>
                <div class="panel-flex-row">
                  <div class="panel-flex-row" [ngStyle]="{'background': hexToTranslucentRgbA('#fafcf1')}">
                    <div class="panel-flex-column">
                      <div class="panel-flex-row prev-visit-header">
                        <div class="visit-title">
                          SkinMedica HA5
                        </div>
                        <div class="visit-cost-unpaid">
                          $198.00
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-flex-row">
                  <div class="column-header-link">View full purchase history</div>
                </div>
              </div>
            </div>


    <div class="panel-flex-column-3">
      <div class="panel-flex-column-full">
        <div class="panel-flex-row social-history-header">
          <div class="column-header">Social History</div>
          <div class="addNewSocialHistoryButton" (click)="addSocialHistoryElement()">
            <div class="addNewSocialHistoryButtonIcon"><i class="far fa-plus"></i></div>
            <div class="addNewSocialHistoryButtonText">Add History</div>
          </div>
        </div>
        <div *ngIf="showNewSocialHistoryField" class="panel-flex-column">
          <div class="panel-flex-row">
            <mat-form-field class="new-social-history-field">
              <textarea #socialHistoryEntry matInput placeholder="Social History Entry"></textarea>
            </mat-form-field>
          </div>
          <div class="panel-flex-row social-history-actions">
            <div class="saveNewSocialHistoryButton" (click)="saveSocialHistoryElement()">
              <div class="saveNewSocialHistoryButtonText">Save</div>
            </div>
            <div class="cancelNewSocialHistoryButton" (click)="cancelSocialHistoryElement()">
              <div class="cancelNewSocialHistoryButtonText">Cancel</div>
            </div>
          </div>
        </div>
        <div class="social-history-entries-div">
          <div class="panel-flex-row" *ngFor="let social of theSocialHistory">
            <div class="panel-flex-column">
              <div class="panel-flex-row">
                <div class="field-heading">{{formatSocialDate(social.entryDate)}} - </div>
                <div class="field-heading">&nbsp;{{social.enteredBy}}</div>
              </div>
              <div class="panel-flex-row">
                <div class="field-content">{{social.entryText}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-flex-column-full">
      <div class="panel-flex-row">
          <div class="column-header">recent activity</div>
        </div>
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">recent activity entry date</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-content">this is an entry in the recent entry stuff</div>
          </div>
        </div>
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">recent activity entry date</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-content">this is an entry in the recent events stuff that is much longer so it streches
              over two lines</div>
          </div>
          <div class="panel-flex-column">
            <div class="panel-flex-row">
              <div class="field-heading">recent activity entry date</div>
            </div>
            <div class="panel-flex-row">
              <div class="field-content">Did some stuff</div>
            </div>
          </div>
          <div class="panel-flex-column">
            <div class="panel-flex-row">
              <div class="field-heading">recent activity entry date</div>
            </div>
            <div class="panel-flex-row">
              <div class="field-content">Bought some stuff</div>
            </div>
          </div>
          <div class="panel-flex-column">
            <div class="panel-flex-row">
              <div class="field-heading">recent activity entry date</div>
            </div>
            <div class="panel-flex-row">
              <div class="field-content">Schedule Visit</div>
            </div>
            <div class="panel-flex-row prev-visit">
              <div class="visit-text"><i class="far fa-clock"></i></div>
              <div class="visit-text appt-time">10:15AM</div>
              <div class="visit-text">appointment details</div>
            </div>
            <div class="panel-flex-row prev-visit">
              <div class="visit-text"><i class="far fa-clock"></i></div>
              <div class="visit-text appt-time">10:45AM</div>
              <div class="visit-text">appointment details</div>
            </div>
            <div class="panel-flex-row prev-visit">
              <div class="visit-text"><i class="far fa-copy"></i></div>
              <div class="visit-text appt-time">Notes</div>
              <div class="visit-text">Notes details</div>
            </div>
           </div>
           </div>
          </div>
    </div>

  </div>
  <div class="panel-flex-column-full">

  </div>

  <p-overlayPanel #hoverPanel id="hoverPanel" [dismissable]="'false'">
    Content
  </p-overlayPanel>
  <app-actionpanel></app-actionpanel>
