<ngx-loading [show]="loading"></ngx-loading>
<ngx-loading [show]="disableGrid" id="gridDisableDiv"></ngx-loading>

<div class="panel-flex-row">
  <div class="panel-flex-column-2">
    <div class="panel-flex-column-full">
      <div class="panel-flex-row">
        <div class="column-header">current scheduled nudges</div>
      </div>
      <div class="panel-flex-row">
        <div class="nudge-icon"><i class="fas fa-comment-alt-dots"></i></div>
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Scheduled for: </div>
            <div class="field-heading">scheduledate</div>
            <div class="field-heading">|</div>
            <div class="field-heading">Nudge Type: </div>
            <div class="field-heading">nudgetype</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text">Marketing Email: </div>
            <div class="field-text">XYZ Product Repurchase</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub">Assigned to: </div>
            <div class="field-text-sub">Janette Williams</div>
          </div>
        </div>
      </div>
      <div class="panel-flex-row">
        <div class="nudge-icon"><i class="fas fa-comment-alt-check"></i></div>
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Scheduled for: </div>
            <div class="field-heading">scheduledate</div>
            <div class="field-heading">|</div>
            <div class="field-heading">Nudge Type: </div>
            <div class="field-heading">nudgetype</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text">Appointment Reminder: </div>
            <div class="field-text">Service Name - August 22, 2018</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub">Assigned to: </div>
            <div class="field-text-sub">Mark Mathers</div>
          </div>
        </div>
      </div>
      <div class="panel-flex-row">
        <div class="nudge-icon"><i class="fas fa-comment-alt-dots"></i></div>
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Scheduled for: </div>
            <div class="field-heading">scheduledate</div>
            <div class="field-heading">|</div>
            <div class="field-heading">Nudge Type: </div>
            <div class="field-heading">nudgetype</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text">Marketing Email: </div>
            <div class="field-text">XYZ Product Repurchase</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub">Assigned to: </div>
            <div class="field-text-sub">Janette Williams</div>
          </div>
        </div>
      </div>
      <div class="panel-flex-row">
        <div class="nudge-icon"><i class="fas fa-comment-alt-check"></i></div>
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Scheduled for: </div>
            <div class="field-heading">scheduledate</div>
            <div class="field-heading">|</div>
            <div class="field-heading">Nudge Type: </div>
            <div class="field-heading">nudgetype</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text">Appointment Reminder: </div>
            <div class="field-text">Service Name - August 22, 2018</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub">Assigned to: </div>
            <div class="field-text-sub">Mark Mathers</div>
          </div>
        </div>
      </div>
      <div class="panel-flex-row">
        <div class="nudge-icon"><i class="fas fa-comment-alt-check"></i></div>
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Scheduled for: </div>
            <div class="field-heading">scheduledate</div>
            <div class="field-heading">|</div>
            <div class="field-heading">Nudge Type: </div>
            <div class="field-heading">nudgetype</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text">Marketing Email: </div>
            <div class="field-text">XYZ Product Repurchase</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub">Assigned to: </div>
            <div class="field-text-sub">Janette Williams</div>
          </div>
        </div>
      </div>
      <div class="panel-flex-row">
        <div class="nudge-icon"><i class="fas fa-comment-alt-check"></i></div>
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Scheduled for: </div>
            <div class="field-heading">scheduledate</div>
            <div class="field-heading">|</div>
            <div class="field-heading">Nudge Type: </div>
            <div class="field-heading">nudgetype</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text">Appointment Reminder: </div>
            <div class="field-text">Service Name - August 22, 2018</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub">Assigned to: </div>
            <div class="field-text-sub">Mark Mathers</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-flex-column-2 nudges-history">
    <div class="panel-flex-column-full" [ngStyle]="{'background':'transparent','border':'none'}">
      <div class="panel-flex-row">
        <div class="column-header">nudges history</div>
      </div>
      <div class="panel-flex-row">
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Status: </div>
            <div class="field-heading">nudgesstatus</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text">Marketing Email: </div>
            <div class="field-text">XYZ Product Repurchase</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub">Notes: This is the content of the notes section of the nudges. This is the
              content of the
              notes section of the nudges. This is the content of the notes section of the nudges. This is the content
              of the notes section of the nudges. This is the content of the notes section of the nudges. This is the
              content of the notes section of the nudges. This is the content of the notes section of the nudges.</div>
          </div>
          <div class="panel-flex-row nudge-complete">
            <div class="field-complete left">Completed: August 4, 2018</div>
            <div class="field-complete">Completed By: Janette Williams</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-complete left">Completed: August 4, 2018</div>
            <div class="field-complete">Completed By: Janette Williams</div>
          </div>
        </div>
      </div>
      <div class="panel-flex-row">
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Status: </div>
            <div class="field-heading">nudgesstatus</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text">Marketing Email: </div>
            <div class="field-text">XYZ Product Repurchase</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub">Notes: This is the content of the notes section of the nudges. This is the
              content of the
              notes section of the nudges. This is the content of the notes section of the nudges. This is the content
              of the notes section of the nudges. This is the content of the notes section of the nudges. This is the
              content of the notes section of the nudges. This is the content of the notes section of the nudges.</div>
          </div>
          <div class="panel-flex-row nudge-complete">
            <div class="field-complete left">Completed: August 4, 2018</div>
            <div class="field-complete">Completed By: Janette Williams</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-complete left">Completed: August 4, 2018</div>
            <div class="field-complete">Completed By: Janette Williams</div>
          </div>
        </div>
      </div>
      <div class="panel-flex-row">
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Status: </div>
            <div class="field-heading">nudgesstatus</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text">Marketing Email: </div>
            <div class="field-text">XYZ Product Repurchase</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub">Notes: This is the content of the notes section of the nudges. This is the
              content of the
              notes section of the nudges. This is the content of the notes section of the nudges. This is the content
              of the notes section of the nudges. This is the content of the notes section of the nudges. This is the
              content of the notes section of the nudges. This is the content of the notes section of the nudges.</div>
          </div>
          <div class="panel-flex-row nudge-complete">
            <div class="field-complete left">Completed: August 4, 2018</div>
            <div class="field-complete">Completed By: Janette Williams</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-complete left">Completed: August 4, 2018</div>
            <div class="field-complete">Completed By: Janette Williams</div>
          </div>
        </div>
      </div>
      <div class="panel-flex-row">
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Status: </div>
            <div class="field-heading">nudgesstatus</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text">Marketing Email: </div>
            <div class="field-text">XYZ Product Repurchase</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub">Notes:This is the content of the notes section of the nudges. This is the
              content of the notes section of the nudges. This is the content of the notes section of the nudges. This
              is the content
              of the notes section of the nudges. This is the content of the notes section of the nudges. This is the
              content of the notes section of the nudges. This is the content of the notes section of the nudges.</div>
          </div>
          <div class="panel-flex-row nudge-complete">
            <div class="field-complete left">Completed: August 4, 2018</div>
            <div class="field-complete">Completed By: Janette Williams</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-complete left">Completed: August 4, 2018</div>
            <div class="field-complete">Completed By: Janette Williams</div>
          </div>
        </div>
      </div>
      <div class="panel-flex-row">
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Status: </div>
            <div class="field-heading">nudgesstatus</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text">Marketing Email: </div>
            <div class="field-text">XYZ Product Repurchase</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub">Notes: This is the content of the notes section of the nudges. This is the
              content of the
              notes section of the nudges. This is the content of the notes section of the nudges. This is the content
              of the notes section of the nudges. This is the content of the notes section of the nudges. This is the
              content of the notes section of the nudges. This is the content of the notes section of the nudges.</div>
          </div>
          <div class="panel-flex-row nudge-complete">
            <div class="field-complete left">Completed: August 4, 2018</div>
            <div class="field-complete">Completed By: Janette Williams</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-complete left">Completed: August 4, 2018</div>
            <div class="field-complete">Completed By: Janette Williams</div>
          </div>
        </div>
      </div>
      <div class="panel-flex-row">
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Status: </div>
            <div class="field-heading">nudgesstatus</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text">Marketing Email: </div>
            <div class="field-text">XYZ Product Repurchase</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub">Notes: This is the content of the notes section of the nudges. This is the
              content
              of the
              notes section of the nudges. This is the content of the notes section of the nudges. This is the content
              of the notes section of the nudges. This is the content of the notes section of the nudges. This is the
              content of the notes section of the nudges. This is the content of the notes section of the nudges.</div>
          </div>
          <div class="panel-flex-row nudge-complete">
            <div class="field-complete left">Completed: August 4, 2018</div>
            <div class="field-complete">Completed By: Janette Williams</div>
          </div>
          <div class="panel-flex-row">
            <div class="field-complete left">Completed: August 4, 2018</div>
            <div class="field-complete">Completed By: Janette Williams</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-overlayPanel #hoverPanel id="hoverPanel" [dismissable]="'false'">
    Content
  </p-overlayPanel>
  <app-actionpanel></app-actionpanel>