<ngx-loading [show]="loading"></ngx-loading>
<ngx-loading [show]="disableGrid" id="gridDisableDiv"></ngx-loading>

<div class="panel-flex-row">
  <div class="panel-flex-column">
    <div class="panel-flex-column-full">
      <div class="panel-flex-row">
        <div class="column-header">New Communication</div>
      </div>
      <div class="panel-flex-row">
        <div class="field-heading">Create new scheduled communication</div>
      </div>
      <div class="panel-flex-row">
        <div class="schedNewCommButton">
          <div class="schedNewCommButtonIcon"><i class="fa fa-plus"></i></div>
          <div class="schedNewCommButtonText">schedule a new communication</div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-flex-column">
    <div class="panel-flex-column-full">
      <div class="panel-flex-row">
        <div class="column-header">Scheduled Communication</div>
      </div>
      <div class="panel-flex-row panel-box">
        <div class="nudge-icon"><i class="fas fa-comment-alt-lines"></i></div>
        <div class="panel-flex-column">
          <div class="panel-flex-row ">
            <div class="field-heading">Scheduled for August 3, 2018 </div>

          </div>
          <div class="panel-flex-row">
            <div class="field-text">Communication Label </div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub"> Notes: This is the content of the notes section of the nudges. This is the
              content of the
              notes section of the nudges.</div>
          </div>

          <div class="panel-flex-row">
            <div class="field-text-sub">Scheduled by: Dr Crippen </div>
          </div>
        </div>
      </div>
      <div class="panel-flex-row  panel-box">
        <div class="nudge-icon"><i class="fas fa-comment-alt-lines"></i></div>
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Scheduled for August 3, 2018 </div>

          </div>
          <div class="panel-flex-row">
            <div class="field-text">Communication Label </div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub"> Notes: This is the content of the notes section of the nudges. This is the
              content of the
              notes section of the nudges.</div>
          </div>

          <div class="panel-flex-row">
            <div class="field-text-sub">Scheduled by: Dr Crippen </div>
          </div>
        </div>
      </div>
      <div class="panel-flex-row  panel-box">
        <div class="nudge-icon"><i class="fas fa-comment-alt-lines"></i></div>
        <div class="panel-flex-column">
          <div class="panel-flex-row">
            <div class="field-heading">Scheduled for August 3, 2018 </div>

          </div>
          <div class="panel-flex-row">
            <div class="field-text">Communication Label </div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub"> Notes: This is the content of the notes section of the nudges. This is the
              content of the
              notes section of the nudges.</div>
          </div>

          <div class="panel-flex-row">
            <div class="field-text-sub">Scheduled by: Dr Crippen </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-flex-column recent-activity">
    <div class="panel-flex-column-full" [ngStyle]="{'background':'transparent','border':'none'}">
      <div class="panel-flex-row">
        <div class="column-header">Communication history</div>
      </div>

      <div class="panel-flex-row panel-box">
        <div class="panel-flex-column">
          <div class="panel-flex-row ">
            <div class="field-heading">July 12, 2018 </div>

          </div>
          <div class="panel-flex-row">
            <div class="field-text">Communication Label </div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub"> Notes: This is the content of the notes section of the nudges. This is the
              content of the
              notes section of the nudges.</div>
          </div>

          <div class="panel-flex-row">
            <div class="field-text-sub">Sent by: Dr Crippen </div>
          </div>
        </div>
      </div>

      <div class="panel-flex-row panel-box">
        <div class="panel-flex-column">
          <div class="panel-flex-row ">
            <div class="field-heading">July 12, 2018 </div>

          </div>
          <div class="panel-flex-row">
            <div class="field-text">Another Communication Label </div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub"> Notes: This is the content of the notes section of the nudges. This is the
              content of the
              notes section of the nudges.</div>
          </div>

          <div class="panel-flex-row">
            <div class="field-text-sub">Sent by: Dr Crippen </div>
          </div>
        </div>
      </div>

      <div class="panel-flex-row panel-box">
        <div class="panel-flex-column">
          <div class="panel-flex-row ">
            <div class="field-heading">July 12, 2018 </div>

          </div>
          <div class="panel-flex-row">
            <div class="field-text">Communication Label </div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub"> Notes: This is the content of the notes section of the nudges. This is the
              content of the
              notes section of the nudges.</div>
          </div>

          <div class="panel-flex-row">
            <div class="field-text-sub">Sent by: Dr Crippen </div>
          </div>
        </div>
      </div>

      <div class="panel-flex-row panel-box">
        <div class="panel-flex-column">
          <div class="panel-flex-row ">
            <div class="field-heading">July 12, 2018 </div>

          </div>
          <div class="panel-flex-row">
            <div class="field-text">Communication Label </div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub"> Notes: This is the content of the notes section of the nudges. This is the
              content of the
              notes section of the nudges.</div>
          </div>

          <div class="panel-flex-row">
            <div class="field-text-sub">Sent by: Dr Crippen </div>
          </div>
        </div>
      </div>

      <div class="panel-flex-row panel-box">
        <div class="panel-flex-column">
          <div class="panel-flex-row ">
            <div class="field-heading">July 12, 2018 </div>

          </div>
          <div class="panel-flex-row">
            <div class="field-text">Communication Label </div>
          </div>
          <div class="panel-flex-row">
            <div class="field-text-sub"> Notes: This is the content of the notes section of the nudges. This is the
              content of the
              notes section of the nudges.</div>
          </div>

          <div class="panel-flex-row">
            <div class="field-text-sub">Sent by: Dr Crippen </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <p-overlayPanel #hoverPanel id="hoverPanel" [dismissable]="'false'">
    Content
  </p-overlayPanel>
  <app-actionpanel></app-actionpanel>